<footer class="pagefooter">
    <div class="container">
        <!-- <div class="inner-container">
            <a href="https://www.army.mil/" target="_blank">The Official Homepage of the U.S. Army</a>
            <div>
                <p>A special thanks to the Army Women's Museum at Fort Lee, Va, for providing the historical content on women in the Army. The appearance of hyperlinks to external sites does not constitute endorsement by the Department of the U.S. Army of the linked web site or the information, products or services contained therein. For other than authorized activities such as military exchanges and Morale, Welfare and Recreation sites, the Department of the U.S. Army does not exercise any editorial control over the information you may find at these locations. Such links are provided consistent with the stated purpose of this DoD web site.</p>
            </div>
        </div> -->
        <ul>
            <li><a target="_blank" href="https://www.army.mil/contact/">CONTACT US</a></li>
            <li><a target="_blank" href="https://www.army.mil/faq/">FAQ</a></li>
            <li><a target="_blank" href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">ACCESSIBILITY/SECTION 508</a></li>
            <li><a target="_blank" href="https://www.army.mil/privacy/">PRIVACY &amp; SECURITY</a></li>
            <li><a target="_blank" href="https://www.rmda.army.mil/foia/RMDA-FOIA-Division.html">FOIA</a></li>
            <li class="last"><a class="star" href="https://www.army.mil/" target="_blank">The Official Homepage of the U.S. Army</a></li>
        </ul>
    </div>
</footer>


