<header>
    <div class="header-container">
        <h4><a href="{% if page.active != 'intro' %}../{% endif %}index.html">WOMEN <span>in the</span> ARMY</a></h4>
        <a class="hamburger" href="javascript:;"><span>MENU</span></a>
        <div class="menu-container">
            <ul>
                <li><a href="{% if page.active != 'intro' %}../{% endif %}index.html">INTRO<span class="line"></span></a></li>
                <li><a href="{% if page.active != 'intro' %}../{% endif %}profiles/">PROFILES<span class="line"></span></a></li>
                <li class="last"><a href="{% if page.active != 'intro' %}../{% endif %}history/">HISTORY<span class="line"></span></a></li>
            </ul>
        </div>
    </div>
    
    {% include masthead.html %}
    
    {% if page.include-nav == true %}
        {% include nav.html %}
    {% endif%}
</header>

