<div id="lightbox" class="click-close">
    {% if page.active != 'history' %}
    <div class="container click-close">
        <a class="close click-close" title="(ESC to close)" href="javascript:;">close</a>
        <div class="header"></div>
        <div class="inner-container"></div>
    </div>
    {% else %}
    <div class="container spotlight click-close">
        <a class="close click-close" title="(ESC to close)" href="javascript:;">close</a>
        <div class="header"></div>
        <div class="inner-container"></div>
    </div>
    <div class="container no-bg click-close">
        <a class="close click-close" title="(ESC to close)" href="javascript:;">close</a>
        <div class="lb-button" id="next">
            <a href="javascript:;" title="Next image"><span></span></a>
        </div>
        <div class="lb-button" id="prev">
            <a href="javascript:;" title="Previous image"><span></span></a>
        </div>
        <div class="inner-container">
            <div class="lb-img click-close">
                <span class="full-height"></span><img src="" alt="" />
            </div>
            <div class="image-loading"></div>
            <p></p>
        </div>
    </div>
    {% endif %}
</div>

