<div class="masthead-buffer"></div>
<div class="masthead-container">
    <div class="full-width-image" id="{{ page.active | downcase }}">
        {% if page.active != 'intro' %}<div><h1>{{ page.active }}</h1></div>{% endif %}
        <img class="no-bg-size" src="/e2/rv5_images/women/masthead/2500.jpg" alt="Women in the U.S. Army" />
    </div>
</div>

