<!-- <div class="masthead-buffer last"></div> -->
<div class="nav-container">
    <nav>
        {% if page.sub-nav == true %}
        
        <ul>
            <li class="no-hover last">
                <a class="show-menu" href="javascript:;">CHOOSE AN ERA<span></span></a>
            </li>
        </ul>
        <div class="history-back-link"><a href="../history/" title="BACK TO WWII"><span></span>BACK TO WWII</a></div>
        <div class="sub-nav-container">
            <ul>
                {% for nav-element in page.nav-elements %}
                <li><a href="{{ nav-element.href }}"><h5>CHAPTER {{ forloop.index }}:</h5><span>{{ nav-element.title }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="clearfix"></div>
        
        {% else %}
        
        <ul>
        {% for nav-element in page.nav-elements %}
            <li {% if forloop.first %} class="active"{% elsif forloop.last %} class="last"{% endif %}>
                <a {% if nav-element.class %} class="{{ nav-element.class }}"{% endif %} href="{% if nav-element.href %}{{ nav-element.href }}{% else %}javascript:;{% endif%}">{{ nav-element.title }}</a>
            </li>
        {% endfor %}
        </ul>
        
        {% endif %}
    </nav>
</div>
