<div class="slider-container {{ slides.class }} slider-{{ slides.slides.size }}">
    {% for slide in slides.slides %}
    <div class="slide slide-{{ forloop.index }} {% if slide.date %}has-date{% endif %}">
        {% if slide.back | strip != '' %}
        <figure class="front">
        {% endif %}
            {% if slide.date | strip != '' %}
            <div class="date">{{ slide.date }}</div>
            {% endif %}
            {% if slide.image | strip != '' %}
            <div class="image">
                <img src="/e2/rv5_images/women/graphics/bg.png" data-src="{{ slide.image }}" alt="{{ slide.image_alt }}" />
                <noscript>
                    <img src="{{ slide.image }}" alt="{{ slide.image_alt }}" />
                </noscript>
            </div>
            {% endif %}
            <div class="content">
                {{ slide.front }}
            </div>
        {% if slide.back | strip != '' %}
            <div class="flip-btn">FLIP<span></span></div>
        </figure>
        <figure class="back">
            {% if slide.date | strip != '' %}
            <div class="date">{{ slide.date }}</div>
            {% endif %}
            <div class="content">
                {{ slide.back }}
            </div>
            <div class="flip-btn">FLIP<span></span></div>
        </figure>
        {% endif %}
    </div>
    {% endfor %}
</div>