    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://www.army.mil/e2/rv5_js/3rdparty/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/e2/rv5_js/women/women-in-the-army.min.js"></script>
    {% if page.active == 'intro' %}
    <script type="text/javascript" src="/e2/rv5_js/women/women-in-the-army.news.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript">
        ga('create', 'UA-27189539-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- END SCRIPTS -->