<div class="outer-mosaic-container">
    <div class="{% if readmore %}readmore-image{% else %}image-mosaic{% endif %} mosaic-{{ mosaic.size }}">
        {% for image in mosaic %}
        <div class="image-tile tile-{{ forloop.index }}">
            <a href="javascript:;" class="tile-inner">
                {% if readmore %}
                <img src="/e2/rv5_images/women/graphics/bg.png" data-src="{{ image.image }}" alt="{{ image.image_alt }}" />
                {% else %}
                <img src="{{ image.image }}" alt="{{ image.image_alt }}" />
                {% endif %}
                <span class="view-larger">
                    <span></span>
                </span>
            </a>
            <p>{{ image.image_alt }}</p>
        </div>
        {% endfor %}
    </div>
</div>

