<div class="sub-page-inner">
    <div class="inner-container">
        <h2>Women Airforce Service Pilots (WASP)</h2>
        <h5>Women's Auxiliary Ferrying Squadron (WAFS)</h5>
        <div class="did-you-know float-right">
            <div class="know-heading"><span>DID YOU KNOW?</span></div>
            <p class="center">The purpose of the WAFS was to deliver planes from the factory to military bases.</p>
            <!-- <p class="last">The instruction consisted of navigation, meteorology, radio and Morse code, use of firearms, military courtesy and discipline, military law and instrument training.</p> -->
            <div class="clearfix"></div>
        </div>
        
        <p>Nancy Harkness Love, with the support of the U.S. Air Transport Command, organized 25 women pilots into the Women's Auxiliary Ferrying Squadron, Sept. 10, 1942. WAFS headquarters were located at New Castle Army Air Base, Del.; later other ferrying squadron centers were established. Due to the strict qualifications for service in the WAFS, only 40 women wore the WAFS uniform (which they had to pay for) before it was merged into the Women Airforce Service Pilots (WASP).</p>
        
        <div class="did-you-know float-right-full">
            <div class="know-heading"><span>DID YOU KNOW?</span></div>
            <p class="center">The purpose of the WAFS was to deliver planes from the factory to military bases.</p>
            <!-- <p class="last">The instruction consisted of navigation, meteorology, radio and Morse code, use of firearms, military courtesy and discipline, military law and instrument training.</p> -->
            <div class="clearfix"></div>
        </div>
    </div>

    {% assign mosaic = site.data.history.pilots.mosaics[0] %}
    {% include history/image-mosaic.html %}

    <div class="inner-container">
        <h5>Women's Flying Training Detachment (WFTD)</h5>
        <p>Immediately after the attack on Pearl Harbor, Jacqueline Cochran - one of the most well-known aviators of that time - tried to interest the Army Air Corps in women pilots who would be trained to fly military aircraft within the United States. When that effort failed, she recruited a group of women pilots to serve in the British Air Transport Auxiliary. She accompanied them to England, then returned to the United States to recruit a second group. There, she learned the WAFS had been created and convinced Gen. "Hap" Arnold of the Army Air Corps that the WAFS would be unable to supply all the women pilots that would be needed. Both Cochran and Arnold were opposed to enrollment of women pilots in the WAC.</p>
        <div class="did-you-know float-right">
            <div class="know-heading"><span>DID YOU KNOW?</span></div>
            <p class="center">The mission of the WFTD was to perform whatever flight duties the Army Air Corps required within the United States.</p>
            <div class="clearfix"></div>
        </div>
        
        <p>Cochran established the Women's Flying Training Detachment, or WFTD, at Howard Hughes Airport in Houston, Texas, Nov. 16, 1942, with an initial class of 25 women who were required to have 200 hours flying time and a commercial license.</p>
        
        <div class="did-you-know float-right-full">
            <div class="know-heading"><span>DID YOU KNOW?</span></div>
            <p class="center">The mission of the WFTD was to perform whatever flight duties the Army Air Corps required within the United States.</p>
            <div class="clearfix"></div>
        </div>
        
        <p>In addition to ferrying, testing and delivering planes for repair, the WFTD also performed check flights, put flying time on new engines, towed targets for anti-aircraft gunnery practice, flew searchlight tracking missions, and instructed male pilot cadets.</p>
        
        <h5>Women Airforce Service Pilots (WASP)</h5>
        <p>The WAFS and WFTD merged into WASPs, Aug. 5, 1943. Cochran served as director of WASP and its training division, while Love was director of the ferrying division. In the 16 months WASP existed, more than 25,000 women applied for training; only 1,879 candidates were accepted. Among them, 1,074 successfully completed the grueling program at Avenger Field - a better "wash-out" rate than 50 percent of male pilot cadets.</p>
        <p>Cochran pressed for full militarization of WASP, but resisted making it part of WAC; she insisted it remain a women's pilot organization whose members could only be assigned to flight duties. One of her reasons was that WAC recruits had to be at least 21 years old and could not have children under 14 (some of the WASP's most experienced pilots were mothers of young children). WASPs were accepted as young as 18 if the woman had a pilot's license and flight experience.</p>
        <p>Arnold asked Gen. William E. Han, deputy chief of the Air Staff, for permission to commission into WASP directly as service pilots, a procedure the Air Transport Command used routinely with male civilian pilots. The Comptroller General of the Army Air Forces ruled against these practices, Jan. 13, 1944.</p>
    </div>

    {% assign mosaic = site.data.history.pilots.mosaics[1] %}
    {% include history/image-mosaic.html %}

    <div class="inner-container">
        <p>Then, Cochran and Arnold went back to Congress where a bill (H.R. 4219) to make WASP a women's service within the U.S. Army Air Force had been ignored since its introduction in September 1941. On June 21, 1944, it was defeated by 19 votes, despite vigorous lobbying efforts.</p>
        <p>The WASPs were disbanded, Dec. 20, 1944. Amold's letter of notification to WASPs stated, "When we needed you, you came through and have served most commendably under very difficult circumstances, but now the war situation has changed and the time has come when your volunteer services are no longer needed. The situation is that if you continue in service, you will be replacing instead of releasing our young men. I know the WASP wouldn't want that. I want you to know that I appreciate your war service and the AAF will miss you..."</p>
        <h6>WASP receive veterans status</h6>
        <p>More than three decades later, Sept. 20, 1977, a select House subcommittee on veteran affairs heard testimony on H.R. 3277, a bill which recognized WASP service as active duty in the armed forces and entitled them to veterans' benefits. It was strongly supported by both houses of Congress and Sen. Barry Goldwater, who had flown with WASP during World War II; he led the move to get the bill passed. The bill was vehemently opposed by the American Legion on the grounds that it "would denigrate the term ‘veteran' so that it will never again have the value that presently attaches to it." Controversy went back and forth with the Veterans Administration opposing the bill and the Department of Defense supporting it.</p>
        <p>Goldwater attached the bill as an amendment to the "GI Bill Improvement Act" (H.R. 8701), Oct. 19, 1977, but the committee chairs planned to strip the WASP amendment during the reconciliation process. This prompted two women representatives of the House, Rep. Margaret Heckler and Rep. Liddy Boggs, to take action in support of the WASP amendment.</p>
        <p>A compromise was finally reached that if the Air Force would certify that the WASP had been de facto military personnel during the war, the WASP amendment would not be stripped. The Air Force certified the WASP and in making their determination used the discharge papers of WASP Helen Porter, 1944, which read, "This is to certify that Helen Porter honorably served in active federal service of the Army of the United States." It was the same wording used in 1944 for all honorable discharges from the Army. H.R. 8701, as amended, passed the House with unanimous consent. President Carter signed the bill into law, Nov. 23, 1977.</p>
    </div>
</div>

