<div class="sub-page-inner">
    <div class="inner-container">
        <h2>Creation of the Women's Army Corps</h2>
        <h5>Women's Army Auxiliary Corps (WAAC)</h5>
        <p>With war looming, U.S. Rep. Edith Nourse Rogers of Massachusetts introduced a bill for the creation of the Women's Army Auxiliary Corps, in May 1941. Having been a witness to the status of women in World War I, Rogers vowed that if American women served in support of the Army, they would do so with all the rights and benefits afforded to Soldiers.</p>
        <p>Spurred on by the attack on Pearl Harbor, Dec. 7, 1941, Congress approved the creation of WAAC, May 14, 1942. <a class="roosevelt-bill" href="javascript:;">President Franklin D. Roosevelt signed the bill into law<img class="hidden" src="/e2/rv5_images/women/history/WAAC/top/full/1941_bill.jpg" alt="The U.S. Congress passed HR 6293, the bill that established the Women's Army Auxiliary Corps (WAAC), May 14, 1942. The following day, President Franklin D. Roosevelt signed the bill into law." /></a>, May 15, and on May 16, Oveta Culp Hobby was sworn in as the first director. WAAC was established "for the purpose of making available to the national defense the knowledge, skill, and special training of women of the nation."</p>
        
        <div class="did-you-know">
            <div class="know-heading"><span>DID YOU KNOW?</span></div>
            <div class="image">
                <img src="/e2/rv5_images/women/history/pallasathene.jpg" alt="WAAC adopted Pallas Athene as its symbol.">
            </div>
            <p class="left">WAAC adopted Pallas Athene, Greek goddess of victory and womanly virtue - wise in peace and in the arts of war - as its symbol.</p>
            <p class="last left">Pallas Athene and the traditional "U.S." were worn as lapel insignia. Cap insignia was an eagle, adapted from the design of the Army eagle. The WAAC eagle, later familiarly known as "the Buzzard", was also imprinted on the plastic buttons of the uniform.</p>
            <div class="clearfix"></div>
        </div>
        
        <h6>Recruitment and Training</h6>
        <p>Hobby immediately began organizing the WAAC recruiting drive and training centers. Fort Des Moines in Iowa, was selected as the site of the first WAAC Training Center. Over 35,000 women from all over the country applied for less than 1,000 anticipated positions.</p>
        <p>The first women arrived at the first WAAC Training Center at Fort Des Moines, Iowa, July 20, 1942. Among them were 125 enlisted women and 440 officer candidates (40 of which were black), who had been selected to attend the WAAC Officer Candidate School, or OCS. Their arrival and subsequent training brought considerable public interest surrounding civil rights, as this corps presented the biggest opportunity to test integration in the Army. After OCS, black officers and white officers were segregated.</p>
        <p>After training, the WAAC officer or enlisted person was assigned to a 150-woman table of organization company, which only had spaces for clerks, typists, drivers, cooks and unit cadre. Women primarily worked in four fields: baking, clerical, driving and medical. Within one year of the WAAC establishment, over 400 jobs were open to women.</p>
    </div>

    {% assign mosaic = site.data.history.wac.mosaics[0] %}
    {% include history/image-mosaic.html %}

    <div class="inner-container">
        <p>Due to the WAAC law not making women an integral part of the Army, they could not be governed by Army regulations or the Articles of War. Stateside, enlisted women and men received the same basic rate of pay. However, women could not receive overseas pay and were ineligible for government life insurance. If they were killed, their parents could not collect the death gratuity.</p>
        <p>In the beginning, WAAC exceeded all its recruiting goals, but by June 1943, recruiting efforts had fallen. Higher paying jobs in civilian industry, unequal benefits with men, and attitudes within the Army itself - which had existed as an overwhelmingly male institution from the beginning - were factors.</p>
        
        <h5>Conversion to Army status, Women's Army Corps (WAC)</h5>
        <p>In January 1943, U.S. Rep. Edith Nourse Rogers of Massachusetts introduced identical bills in both houses of Congress to permit the enlistment and commissioning of women in the Army of the United States, or reserve forces, as opposed to regular enlistments in the U.S. Army. This would drop the ‘auxiliary' status of the WAAC and allow women to serve overseas and 'free a man to fight.'</p>
        <p>President Franklin D. Roosevelt signed into legislation, July 1, 1943, which changed the name of the Corps to the Women's Army Corps (WAC) and made it part of the Army of the United States. This gave women all of the rank, privileges, and benefits of their male counterparts.</p>
        <p>Women were recruited from all 50 states and its territories. A WAC recruiting campaign on the island of Puerto Rico resulted in 200 women being selected out of a pool of 1500. Entrance requirements were rigorous with each woman being required to pass an exam which was entirely in English. Those selected represented many professions: teachers, office workers, translators and even a lawyer.</p>
        <p>Women's Army Corps also recruited Nisei women—second generation Japanese-American women. Several hundred were selected and a number of these were training in linguistics at the Military Intelligence Service Language School at Fort Snelling, Minn. Other Nisei WACs received more traditional training in clerical, medical, and supply positions. Eventually, some Nisei WACs found themselves serving as translators and officer workers at Gen. Douglas MacArthur's headquarters in Tokyo.</p>
        <p>During World War II, members of WAC were assigned to the Army Air Forces, Army Ground Forces, and the Army Service Forces - comprised of nine service commands, the Military District of Washington and the Technical Services. At first, job opportunities were limited, but soon wide arrays of positions were available to women.</p>
        
        <h6>Army Air Forces (AAF)</h6>
        <p>Assigned as: weather forecasters and observers, electrical specialists, sheet metal workers, link trainer instructors, control tower specialists, airplane mechanics, photo-laboratory technicians and photo interpreters.</p>
        
        <h6>Army Ground Forces (AGF)</h6>
        <p>Assigned to Armor and Cavalry Schools and worked as radio mechanics, took care of records and requisitions involving radio equipment, repaired and installed radios in tanks, bantams and other vehicles - both in camps and in bivouac areas, and trained men in field artillery and code sending and receiving.</p>
        
        <h6>Army Service Forces (ASF)</h6>
        <p>The Signal Corps used women as telephone, radio and teletype operators, cryptographers, cryptanalysts, and photographic experts. The Technical Service employed under their Transportation Corps, which utilized assistance in processing troops and mail. Medical and surgical technicians within the medical department. Administrative services for Adjutant General's Corps, Chemical Warfare Service, Quartermaster Corps, finance department, provost marshal and Corps of Chaplains.</p>
        <p>In 1944, as Allied Forces took the initiative both in Europe and the Far East, WAC units moved into support areas behind the combat troops. January 1944 marked the arrival of the first WAC, in the Pacific Theater of Operations, into New Caledonia. In May 1944, the first contingent assigned to the Southwest Pacific arrived in Sydney, Australia. Landing crafts put WACs ashore on the Normandy beachhead during July 1944, while others began assuming duties in the China-Burma-India Theater. The women of the Corps went where they were needed – to Oro Bay, Hollandia, Casablanca, Chunking, and Manila.</p>
    </div>

    {% assign mosaic = site.data.history.wac.mosaics[1] %}
    {% include history/image-mosaic.html %}

    <div class="inner-container">
        <h5>Victory in Europe, victory over Japan and the end of World War II</h5>
        <p>Victory in Europe was proclaimed when German Col. Gen. Alfred Jodl, of the German High Command, signed the terms of an unconditional surrender in Reims, France, May 7, 1945. Similarly, Victory in Japan was proclaimed, Sept. 2, 1945, to celebrate Japan's acceptance of unconditional surrender terms, Aug. 14, 1945.</p>
        <p>After the war, WAACs had no legal reemployment rights, no peacetime component or even an inactive Reserve. Without these rights, jobs for women would be scarce in peacetime. For this reason, Hobby favored disbanding the WAC as soon as the war ended. Congress provided re-employment rights for WAACs and WACs, Aug. 9, 1946.</p>
    </div>
</div>

