---
layout: default
active: profiles
include-nav: true
nav-elements:
- title: ACTIVE DUTY
  class: current-toggle
- title: VETERANS
  class: veteran-toggle
---

    <div class="main" id="profiles-list">
        <div class="container">
            <div class="inner-container">
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/beatty.jpg" alt="Pfc. Katherine Beatty" />
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Private First Class</p>
                            <h4>Katherine Beatty</h4>
                            <span></span>
                            <p class="profile-subtitle">2016: The first female cannon crewmember (13B)</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Beatty graduated, March 11, 2016, at Fort Sill, Okla. She excelled during training - earning the title of distinguished honor graduate for Class No. 12-16. She was assistant platoon guide and helped teach her peers, earned the top scores in several exams and passed her Go/No go events, including the high physical demand test. Beatty had the advantage of being a power lifter with her Army infantryman husband, Charles, before enlisting.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/163932" title="Army's first woman cannoneer finishes top of class">Army's first woman cannoneer finishes top of class</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/holland.jpg" alt="Brigadier General Diana Holland" />
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Diana Holland</h4>
                            <span></span>
                            <p class="profile-subtitle">2016: First female commandant of cadets at the U.S. Military Academy</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Holland assumed command, Jan. 5, at West Point, N.Y., becoming the 76th commandant of cadets. Holland also became the first woman to hold the title of deputy commanding general for support in a light infantry division during her promotion ceremony to brigadier general on Fort Drum, N.Y., July 29, 2015. Holland graduated from the U.S. Military Academy and earned a Master of Arts degree at Duke University. </p>
                                <ul>
                                    <li><a href=" https://www.army.mil/article/159993/Holland_named_first_woman_commandant_at_West_Point/" title="Holland named first woman commandant at West Point">Holland named first woman commandant at West Point</a></li>
                                    <li><a href=" https://www.army.mil/article/160553/First_female_West_Point_commandant_of_cadets_assumes_new_role/" title= "First female West Point commandant of cadets assumes new role">First female West Point commandant of cadets assumes new role</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/griest.jpg" alt="Captain Kristen Griest" />
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Captain</p>
                            <h4>Kristen Griest</h4>
                            <span></span>
                            <p class="profile-subtitle">2015: One of the first female Soldiers to earn the Ranger tab</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Griest and 1st Lt. Shaye L. Haver made history by being the first women to meet all the requirements to complete Ranger School and earn their Ranger tab. Griest also became the first woman to be branched infantry, April 25, 2016. Griest and Haver are both graduates of the U.S. Military Academy at West Point, N.Y.</p>
                                <p>"I knew how badly I wanted to go [to Ranger School] when I was a second lieutenant, before I became a platoon leader," Griest said, during an Aug. 20 press conference. "I was hoping to go to this course because it is the best training the Army can provide, and I wanted to have that training before I had a platoon."</p>
                                <p>Since Ranger School opened in 1950, only 77,000 Soldiers have earned the Ranger tab. Of the 4,057 Soldiers who attempted the course in 2014, just 1,609 tacked on the tab.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/154286/First_women_graduate_Ranger_School/" title="First women graduate Ranger School">First women graduate Ranger School</a></li>
                                    <li><a href="https://www.army.mil/article/154253/First_female_Rangers_believe_experience_makes_them_better_leaders/" title="First female Rangers believe experience makes them better leaders">First female Rangers believe experience makes them better leaders</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=i10p2u_E3s8" title="VIDEO: Ranger Course Student Panel">VIDEO: Ranger Course Student Panel</a></li>
                                    <li><a href="http://www.fortbenningphotos.com/Infantry-Brigades/Airborne-Ranger-Training-Briga/Ranger-School/US-Army-Ranger-School/RTB-Benning-Phase-Camp-Darby/RCA-Released-Photos/n-D9fqJN#!/i-Q2cFxcz " title="Ranger Course Assessment Photos">Ranger Course Assessment Photos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/haver.jpg" alt="First Lieutenant Shaye Haver">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">First Lieutenant</p>
                            <h4>Shaye Haver</h4>
                            <span></span>
                            <p class="profile-subtitle">2015: One of the first female Soldiers to earn the Ranger tab</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Haver and Capt. Kristen Griest made history by being the first women to meet all the requirements to complete Ranger School and earn their Ranger tab.  Griest and Haver are also both graduates of the U.S. Military Academy at West Point, N.Y.</p>
                                <p>"The reasons I chose to come were the same as the men here: to get the experience of the elite leadership school and to give me the opportunity to lead my Soldiers the best that I can," said Haver. "I think if females continue to come to this course, they can be encouraged by what we have accomplished, but hopefully they're encouraged by the legacy that the Ranger community has left."</p>
                                <p>Since Ranger School opened in 1950, only 77,000 Soldiers have earned the Ranger tab. Of the 4,057 Soldiers who attempted the course in 2014, just 1,609 tacked on the tab.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/154286/First_women_graduate_Ranger_School/"  title="First women graduate Ranger School">First women graduate Ranger School</a></li>
                                    <li><a href="https://www.army.mil/article/154253/First_female_Rangers_believe_experience_makes_them_better_leaders/ " title="First female Rangers believe experience makes them better leaders">First female Rangers believe experience makes them better leaders</a></li>
                                    <li><a href="https://www.youtube.com/watch?v=i10p2u_E3s8" title="VIDEO: Ranger Course Student Panel">VIDEO: Ranger Course Student Panel</a></li>
                                    <li><a href="http://www.fortbenningphotos.com/Infantry-Brigades/Airborne-Ranger-Training-Briga/Ranger-School/US-Army-Ranger-School/RTB-Benning-Phase-Camp-Darby/RCA-Released-Photos/n-D9fqJN#!/i-Q2cFxcz " title="Ranger Course Assessment Photos">Ranger Course Assessment Photos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/gunter.jpg" alt="Corporal Erica Gunter">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Corporal</p>
                            <h4>Erica Gunter</h4>
                            <span></span>
                            <p class="profile-subtitle">2015: The first woman of 13M Military Occupation Specialty to become a launcher chief</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Gunter made history when she was promoted to a corporal and assigned as a Multiple Launch Rocket System launcher chief, a position usually held by a staff sergeant. Her new position means that she is the first woman in the 13M military occupation specialty to enter the non-commissioned officer corps and be assigned as a launcher chief. While other female 13Ms have attained such status, they were all reclassified into the MOS, whereas Gunter began her career as a 13M two years ago during the second 13M Advanced Individual Training class open to women.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/143145/Female_Soldier_makes_launcher_chief_history/" title="Female Soldier makes launcher chief history">Female Soldier makes launcher chief history</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/glover.jpg" alt="Captain Lauren Glover">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Captain</p>
                            <h4>Lauren Glover</h4>
                            <span></span>
                            <p class="profile-subtitle">2014: First female commander of U.S. Army Drill Team</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Then-1st Lt. Lauren Glover, a military police officer, made history in November 2014, when she was selected as the first woman drill commander of the U.S. Army Drill Team, 4th Battalion, 3rd Infantry Regiment (The Old Guard). Initially, Glover ruled out any chance of joining the USADT because she did not fit the typical mode of the team’s leadership.  Traditionally, the commander was an infantry officer.</p>
                                 <p>In the fall of 2016, she is set to begin a doctoral program in clinical psychology at the American School of Professional Psychology in D.C. Becoming a Psychologist that helps service members has been her goal since joining the Army. Glover said her motivation for joining was to have a shared experiences with members of the military that could help her gain insight. Glover’s advice for the next drill commander is simple: understand the needs of the Soldiers, don’t be afraid to take advice from past members, and put your own initiatives and vision forward to better the team and their situation.</p>
                                <ul>
                                    <li><a href="https://www.dvidshub.net/image/1823929/first-female-army-drill-team-commander-earns-position-doing-her-job" title='First female Army Drill Team commander earns position by “doing her job”'>First female Army Drill Team commander earns position by “doing her job”</a></li>
                                     <li><a href="https://theoldguardwp.wordpress.com/2014/12/30/1st-female-usadt-commander/" title="First Female USADT Commander">First Female USADT Commander</a></li>
                                      <li><a href="https://theoldguardwp.wordpress.com/2016/03/31/drill-teams-first-female-commander-begins-new-endeavor/" title="Drill Team’s First Female Commander Begins New Endeavor">Drill Team’s First Female Commander Begins New Endeavor</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/cook.jpg" alt="Major Chrissy Cook">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Major</p>
                            <h4>Chrissy Cook</h4>
                            <span></span>
                            <p class="profile-subtitle">2014: The first female Bradley commander to lead her crew to "Top Gun" status</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Cook, an engineer officer, made history in the 1st Cavalry Division, July 8, 2014, when she led her Bradley crew to "Top Gun" status during gunnery. She led her crew to a top score of 835 with nine of 10 engagements, passed to seal "Top Gun" status, June 17. This marks a page in the history books as the Army continues to open doors to female Service members for service in direct combat roles. As an engineer, Cook's branch has long been open to males and females.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/129597/1st_Cavalry_female_leads_crew_to_historic__Top_Gun__gunnery_title/" title="1st Cavalry female leads crew to historic 'Top Gun' gunnery title">1st Cavalry female leads crew to historic 'Top Gun' gunnery title</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/320x320.png" alt="Major General Nadja West">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Major General</p>
                            <h4>Nadja West</h4>
                            <span></span>
                            <p class="profile-subtitle">2013: The first African-American female major general of the Army's active component</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>West is also Army Medicine's first African-American female two-star general. She is the joint staff surgeon, at the Pentagon, Washington, D.C. West is a graduate from the United States Military Academy with a Bachelor of Science degree in Engineering. She attended the George Washington University School of Medicine in Washington, D.C., where she earned a Doctorate of Medicine degree.</p>
                                <ul>
                                    <li><a href="http://www.jcs.mil/Leadership/ArticleView/tabid/3893/Article/572002/major-general-nadja-y-west.aspx" title="Maj. Gen. Nadja West's biography">Full Profile (Joint Chiefs of Staff)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/darpino.jpg" alt="Lieutenant General Flora D. Darpino">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Lieutenant General</p>
                            <h4>Flora D. Darpino</h4>
                            <span></span>
                            <p class="profile-subtitle">2013: The first female judge advocate general of the Army</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Darpino began serving as the 39th judge advocate general of the U.S. Army, Sept. 4, 2013. She was promoted during a ceremony at the Pentagon, and assumed the duties of the position. The judge advocate general serves as the senior uniformed attorney in the Army. Darpino received a Bachelor of Arts degree from Gettysburg College in Gettysburg, Pa., her Juris Doctor from Rutgers University in New Jersey, and her Master of Laws degree in military law from the Judge Advocate General's School. Darpino received a direct commission into the Army's Judge Advocate General's Corps in January 1987.</p>
                                <ul>
                                    <li><a href="https://www.jagcnet.army.mil/Portals/jagc.nsf/0/D0BFE099A97234EA85257BE2006407FE/$File/Darpino%20LTG%20Bio%20&amp;%20Photo.pdf" title="Full Profile">Full Profile</a></li>
                                    <li><a href="https://www.army.mil/article/110602/Army_swears_in_first_woman_as_Judge_Advocate_General/" title="Army swears in first woman as Judge Advocate General">Army swears in first woman as Judge Advocate General</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/jones.jpg" alt="Specialist Jessica Jones">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Specialist</p>
                            <h4>Jessica Jones</h4>
                            <span></span>
                            <p class="profile-subtitle">2013: One of the first female Soldiers to graduate the artillery mechanic course and recognized as her company's honor graduate</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Jones made history, July 16, 2013, as one of the first women to attend the U.S. Army Ordnance School's Artillery Mechanic (91P). The 15-week military occupational specialty has, until the beginning of this class, been restricted to male students. Jones and Spc. Angelika Jansen are the first females to hold the military occupational specialty. The course is one of six the Army opened to women as part of an effort to loosen the combat exclusion provisions under the Direct Ground Combat Definition and Assignment Rule. </p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/107480/First_female_Soldiers_graduate_Artillery_Mechanic_course/" title="First female Soldiers graduate Artillery Mechanic course">First female Soldiers graduate Artillery Mechanic course</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/seccareccio.jpg" alt="Specialist Alexandra Seccareccio">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Specialist</p>
                            <h4>Alexandra Seccareccio</h4>
                            <span></span>
                            <p class="profile-subtitle">2013: The first woman to obtain the multiple launch rocket system crewmember specialty</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Then-Pvt. Seccareccio graduated from a military occupational specialty previously closed to females, 13M. The first class of female Soldiers in the 13M, multiple launch rocket system crewmember military occupation specialty, graduated Advanced Individual Training at Fort Sill, April 30, 2013.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/102466/First_women_Multiple_Launch_Rocket_System__MLRS__crewmembers_graduate/" title="First women Multiple Launch Rocket System (MLRS) crewmembers graduate">First women Multiple Launch Rocket System (MLRS) crewmembers graduate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/richardson.jpg" alt="Major General Laura J. Richardson">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Major General</p>
                            <h4>Laura J. Richardson</h4>
                            <span></span>
                            <p class="profile-subtitle">2012: The first female deputy commanding general of a maneuver division </p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Then-Brig. Gen. Richardson became the deputy commanding general of support for the 1st Cavalry Division at Fort Hood, Texas, July 5, 2012. She was promoted to brigadier general on March 2, 2012, while serving at her previous assignment as the commanding general of U.S. Army Operational Test Command. </p>
                                <ul>
                                    <li><a href="http://ocll.hqda.pentagon.mil/chiefLL.aspx" title="Full Profile">Full Profile (Office of the Chief Legislative Liason)</a></li>
                                    <li><a href="https://www.army.mil/article/75831/" title="Army's first female division deputy commander to lead 'America's First Team'">Army's first female division deputy commander to lead 'America's First Team'</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/burcham.jpg" alt="Brigadier General Margaret W. Burcham">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Margaret W. Burcham</h4>
                            <span></span>
                            <p class="profile-subtitle">2012: The first woman to be promoted to a general officer in the U.S. Army Corps of Engineers</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Burcham was promoted at the Corps' Washington, D.C. headquarters, Jan. 27, 2012. In September 2011, Burcham became the first woman selected to command a Corps of Engineers division when she took command of the Great Lakes and Ohio River Division located in Cincinnati. The division consists of seven engineer districts that include more than 4,800 personnel operating in a 17-state region with the responsibility for the federal water resource development throughout the Great Lakes and Ohio River basins.</p>
                                <ul>
                                    <li><a href="http://www.mvd.usace.army.mil/About/Leadership/BioArticleView/tabid/7752/Article/7358/brigadier-general-margaret-w-burcham.aspx" title="Full Profile ">Full Profile (U.S. Army Corps of Engineers)</a></li>
                                    <li><a href="https://www.army.mil/article/72904/First_woman_promoted_to_general_within_Army_Corps_of_Engineers/" title="First woman promoted to general within Army Corps of Engineers">First woman promoted to general within Army Corps of Engineers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/anderson.jpg" alt="Major General Marcia Anderson">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Major General</p>
                            <h4>Marcia Anderson</h4>
                            <span></span>
                            <p class="profile-subtitle">2011: The Army's first-ever female African-American reserve officer to obtain the rank of major general</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Anderson was promoted during a ceremony at Fort Knox, Ky., Oct. 1, 2011. She was assigned as the deputy chief of Army Reserve. She had previously assumed responsibility as deputy commander of the U.S. Army Human Resources Command, Oct. 1, 2010. As a citizen-Soldier, Anderson is employed by the United States Courts, where she serves as the clerk of Bankruptcy Court, Western District of Wisconsin, located in Madison, Wis.</p>
                                <ul>
                                    <!-- <li><a href="http://www.usar.army.mil/ourstory/leadership/Pages/Major-General-Marcia-M--Anderson.aspx" title="Full Profile">Full Profile (Army Reserve)</a></li> -->
                                    <li><a href="https://www.army.mil/article/66413/" title="HRC deputy becomes Army's first female African-American major general">HRC deputy becomes Army's first female African-American major general</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/gallagher.jpg" alt="Sergeant Sherri Gallagher">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Sergeant</p>
                            <h4>Sherri Gallagher</h4>
                            <span></span>
                            <p class="profile-subtitle">2010: The first female to be selected as Best Warrior's Soldier of the Year</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Gallagher competed against 24 of the Army's finest warriors, representing 12 commands worldwide in the 2010 Best Warrior Competition at Fort Lee, Va., Oct. 25, 2010. Described as the "Super Bowl" of Army competitions, the competition tests each competitors' Army aptitude, conquering urban warfare simulations, board interviews, physical fitness tests, written exams, and warrior tasks and battle drills relevant to today's operating environment.</p>
                                <p>Gallagher is also the first Service member to win the national high-power rifle championship in 23 years and the second women ever to win - her mother was the first. In 2012, Gallagher joined the Army's Golden Knights Parachute Team.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/47144/First_female_selected_as_Best_Warrior__039_s_Soldier_of_Year/" title="First female selected as Best Warrior's Soldier of Year">First female selected as Best Warrior's Soldier of Year</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=9VIaNVJy4XQ" title="VIDEO: Dream Strong">VIDEO: Dream Strong</a></li>
                                    <li><a href="http://www.youtube.com/watch?v=vK3J27MoofM" title="VIDEO: National High Power Champion ">VIDEO: National High Power Champion </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="profile current">
                    <img src="/e2/rv5_images/women/new_profiles/current/320/Bingham.jpg" alt="Lieutenant General Gwen Bingham" />
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Lieutenant General</p>
                            <h4>Gwen Bingham</h4>
                            <span></span>
                            <p class="profile-subtitle">2010: First female to serve as quartermaster general</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Then-Col. Gwen Bingham was the first female to serve as quartermaster general, November 2010, and pinned on general in April 2011. She also became the first female African-American Quartermaster Corps general and was the first female to serve as the Fort Lee garrison commander.</p>
                                <p>The Senate confirmed Then-Maj. Gen. Gwen Bingham, June 29, for appointment to the rank of lieutenant general. Bingham was sworn in as the assistant chief of staff for Installation Management on June 29. She is the first officer in 10 years to serve as ACISM without also serving as commander of Instalation Management Command.</p>
                                <p>Bingham graduated from Army ROTC from the University of Alabama in August 1981, with a Bachelor of Science degree in General Business Management, master’s degree in Administration from Central Michigan University and a master’s degree in National Security Strategy and Resources from the National Defense University.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/55635" title="Army's first female Quartermaster General pins on star">Army's first female Quartermaster General pins on star</a></li>
                                    <li><a href="https://www.army.mil/article/172049" title= "Energy security, 'reduced footprint' top priorities for lieutenant general">Energy security, 'reduced footprint' top priorities for lieutenant general</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end current profiles -->
            </div>
            
            <div class="inner-container">
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Horoho.jpg" alt="Lieutenant General Patricia Horoho">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Lieutenant General</p>
                            <h4>Patricia Horoho</h4>
                            <span></span>
                            <p class="profile-subtitle">2011: The first female and first nurse to become surgeon general of the Army</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Horoho was promoted to the rank of lieutenant general and became the 43rd surgeon general of the Army by Chief of Staff of the Army Gen. Ray Odierno during a ceremony, Dec. 7, 2011, at Joint Base Myer-Henderson Hall in Arlington, Va. Horoho had previously commanded the Army Nurse Corps since 2008, when she received a rare two-grade promotion from colonel to major general - skipping the rank of brigadier general</p>
                                <ul>
                                    <!-- <li><a href="http://armymedicine.mil/Pages/Patricia-D-Horoho.aspx" title="Full Profile">Full Profile (Army Medicine)</a></li> -->
                                    <li><a href="https://www.army.mil/article/70556/" title="Horoho takes oath as first nurse, female surgeon general">Horoho takes oath as first nurse, female surgeon general</a></li>
                                    <li><a href="https://www.army.mil/article/70301/" title="Horoho assumes command of MEDCOM">Horoho assumes command of MEDCOM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Lawrence.jpg" alt="Lieutenant General Susan S. Lawrence">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Lieutenant General</p>
                            <h4>Susan S. Lawrence</h4>
                            <span></span>
                            <p class="profile-subtitle">2011: The first woman in the Army to hold the chief information officer position</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Lawrence oversaw a $10 billion annual information technology budget. She joined the Women's Army Corps in 1972 and was commissioned in 1979. Lawrence was named chief information officer in March 2011, after a career in various leadership positions and operational assignments that took her around the world. As the G-6, Lawrence supported the Army chief of staff and Army staff in performing information management, network operations (including computer network defense), force structure, and the equipping and employment of signal forces.</p>
                                <ul>
                                    <li><a href="http://ciog6.army.mil/Portals/1/Lawrence/LTG%20Susan%20Lawrence%20Bio%2018%20May%2011.pdf" title="Former Full Profile">Former Full Profile (Chief Information Officer/G-6)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/McGuire.jpg" alt="Brigadier General Colleen L. McGuire">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Colleen L. McGuire</h4>
                            <span></span>
                            <p class="profile-subtitle">2010: The first female provost marshal general of the Army</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>During McGuire's nearly 30 years of active service, she has been assigned in key command and staff billets from platoon level to the Army staff. McGuire is the 10th commander of Criminal Investigation Command since it was first established as a major command, Sept. 17, 1971, and the 13th provost marshal general of the Army since 1941. She is the first woman to serve in both positions.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/32999/first-woman-becomes-army-provost-marshal-general/" title="First woman becomes Army provost marshal general">First woman becomes Army provost marshal general</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Dunwoody.jpg" alt="General Ann E. Dunwoody">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">General</p>
                            <h4>Ann E. Dunwoody</h4>
                            <span></span>
                            <p class="profile-subtitle">2008: The first female four-star general in the U.S. Armed Forces</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Dunwoody also became the first female deputy of Army Materiel Command, Nov. 14, 2008, and the first woman to hold her previous position as the deputy chief of staff of the Army for G-4 (Logistics), and to command the U.S. Army Combined Arms Support Command. Approximately five percent of general officers in the Army are women, which includes mobilized Army Reserve and Army National Guard general officers.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/10289/white-house-nominates-first-female-for-fourth-star/" title="White House Nominates First Female for Fourth Star">White House Nominates First Female for Fourth Star</a></li>
                                    <li><a href="https://www.army.mil/article/14218/army-promotes-first-woman-to-four-star-general/" title="Army promotes first woman to four-star general">Army promotes first woman to four-star general</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Hester.jpg" alt="Sergeant Leigh Ann Hester">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Sergeant</p>
                            <h4>Leigh Ann Hester</h4>
                            <span></span>
                            <p class="profile-subtitle">2005: The first woman to be awarded the Silver Star Medal for exceptional valor since World War II</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Hester received the medal, June 16, 2005. Hester's squad was shadowing a supply convoy, March 20, when anti-Iraqi fighters ambushed the convoy. The squad moved to the side of the road, flanking the insurgents and cutting off their escape route. Hester led her team through the "killzone" and into a flanking position, where she assaulted a trench line with grenades and M203 grenade-launcher rounds. She and Staff Sgt. Timothy Nein, her squad leader, then cleared two trenches, at which time she killed three insurgents with her rifle. When the fight was over, 27 insurgents were dead, six were wounded, and one was captured.</p>
                                <ul>
                                    <li><a href="http://archive.defense.gov/news/newsarticle.aspx?id=16391" title="Woman Soldier Receives Silver Star for Valor in Iraq">Woman Soldier Receives Silver Star for Valor in Iraq</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Pietsch.jpg" alt="Brigadier General Coral Pietsch">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Coral Pietsch</h4>
                            <span></span>
                            <p class="profile-subtitle">2001: The first-ever female general officer in the Judge Advocate General Corps</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Pietsch is also the first female Asian-American general officer in the U.S. Army. During her military career, Pietsch participated in numerous exercises and deployments throughout the Asia-Pacific region.</p>
                                <ul>
                                    <li><a href="http://archive.defense.gov/news/newsarticle.aspx?id=44948" title="Waterloo to Washington: The Long Journey of Coral Wong Pietsch">Waterloo to Washington: The Long Journey of Coral Wong Pietsch</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Kennedy.jpg" alt="Lieutenant General Claudia Kennedy">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Lieutenant General</p>
                            <h4>Claudia Kennedy</h4>
                            <span></span>
                            <p class="profile-subtitle">1997: The first woman to achieve and hold the rank of lieutenant general</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Kennedy's promotion also led to becoming the Army deputy chief of staff for intelligence, G-2. Kennedy was confirmed by the Senate for promotion to lieutenant general, and assigned to the position of deputy chief of staff for intelligence, May 21, 1997. Her promotion and swearing-in ceremony took place, June 17, 1997.</p>
                                <ul>
                                    <li><a href="http://1997-2001.state.gov/www/picw/acwbio_kennedy.html" title="Former Full Profile (U.S. Department of State)">Former Full Profile (U.S. Department of State)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Wright.jpg" alt="Major General Jessica Wright">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Major General</p>
                            <h4>Jessica Wright</h4>
                            <span></span>
                            <p class="profile-subtitle">1997: The first female aviation brigade commander and the first female aviator in the National Guard</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Wright's 35-year-career of military service culminated in her final assignment as adjutant general of Pennsylvania and commander of the Pennsylvania National Guard. In the Pennsylvania cabinet-level position, she was responsible for command, control and supervision of all Air and Army National Guard units allocated to Pennsylvania, six state-owned veterans' homes, and programs for the state's one million veterans. She previously served as the deputy adjutant general for the Army.</p>
                                <!-- <ul>
                                    <li><a href="http://prhome.defense.gov/Leadership/jessicaWright.aspx" title="Full Profile (Department of Defense)">Full Profile (Department of Defense)</a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Horton.jpg" alt="Colonel Janet Horton">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Colonel</p>
                            <h4>Janet Horton</h4>
                            <span></span>
                            <p class="profile-subtitle">1997: The first female division chaplain and first woman to be promoted to colonel in the Army Chaplain Corps</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Horton served in the Army for 28 years. She was at the Pentagon on 9/11, and her prayers helped many people. She met serious resistance as one of the first women chaplains for the Army, but she persevered, and her love healed hateful situations.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/122458/Women_in_the_U_S__Army_Chaplain_Corps/ " title="Women in the U.S. Army Chaplain Corps">Women in the U.S. Army Chaplain Corps</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Cornum.jpg" alt="Brigadier General Rhonda L. Cornum, Ph.D., M.D.">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4 class="sm">Rhonda L. Cornum, PhD, MD</h4>
                            <span></span>
                            <p class="profile-subtitle">1991: The first female flight surgeon to enter into combat</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Dr. Cornum entered into combat with the U.S. Army's 2-229th attack helicopter battalion during the Gulf War, Feb. 27, 1991. Then-Maj. Cornum became the first medical officer to graduate Air Command and Staff College and published her prisoner-of-war experience in the book, "She Went to War: The Rhonda Cornum Story." As an Army flight surgeon, serving with the 2/229th Attack Helicopter Battalion during Desert Storm, Cornum's UH-60 Black Hawk helicopter was shot down over Iraq. One of three survivors from the eight-person crew, Cornum was captured by the Iraqi Republican Guard and held as a POW. Her open dialogue from her experiences as a female POW helped drive Congress to expand the roles of women in combat. In addition, her leadership in the aviation and medical communities helped enhance combat performance for hundreds of thousands of Soldiers, Sailors, Airmen and Marines serving around the world.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/54136/Female_POWs_prove_women_can_endure_war_s_hardships/" title="Female POWs prove women can endure war's hardships">Female POWs prove women can endure war's hardships</a></li>
                                    <li><a href="http://www.dodlive.mil/index.php/2012/03/female-prisoners-of-war/" title="Female Prisoners of War (DoD Live)">Female Prisoners of War (DoD Live)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/johnsen.jpg" alt="Sergeant Heather L. Johnsen">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Sergeant</p>
                            <h4 class="sm">Heather L. Johnsen</h4>
                            <span></span>
                            <p class="profile-subtitle">1996: The first woman to earn the tomb guard identification badge</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Johnsen became the 389th Soldier in 38 years to receive the prestigious badge in 1996. A military police, she served in the Reserves as a personnel administrative specialist, joined the unit in 1994. After serving in the Old Guard for one year, in June 1995 she applied for training as a tomb sentinel. "There is no higher honor, there is no greater honor," said Johnsen. "I can't think of anything else I'd rather do for my country than to guard the unknowns." The badge is a temporary award until the sentinel has honorably served at the Tomb of the Unknowns for nine months.</p>
                                <p>The 3rd U.S. Infantry (The Old Guard), is the oldest continuously active unit in the Army. Because it is a combat arms unit, The Old Guard did not allow women into its ranks until 1994 when the 289th Military Police Company was attached to it. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Bray.jpg" alt="Captain Linda Bray">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Captain</p>
                            <h4>Linda Bray</h4>
                            <span></span>
                            <p class="profile-subtitle">1989: The first woman to lead a platoon in combat</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>In 1989, over 700 women went to Panama in support of Operation Just Cause. Capt. Linda Bray led 30 Soldiers of the 988th Military Police company into combat to seize an enemy objective near Panama City. Her role ignited the debate over the role of women in the combat roles in the Army.</p>
                                <ul>
                                    <li><a href="http://www.nytimes.com/1990/01/04/world/noriega-s-surrender-army-for-first-time-a-woman-leads-gi-s-in-combat.html" title="Noriega's Surrender: Army; For First Time, a Woman Leads G.I.'s in Combat (The New York Times)">Noriega's Surrender: Army; For First Time, a Woman Leads G.I.'s in Combat (The New York Times)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Lewis.jpg" alt="Colonel Debra M. Lewis">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Colonel</p>
                            <h4>Debra M. Lewis</h4>
                            <span></span>
                            <p class="profile-subtitle">1980: Member of the first class of women to graduate from the U.S. Military Academy at West Point</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Lewis' career has been marked by many firsts, including being the first female captain of West Point's highly successful intercollegiate equestrian team, the 1980 Academy Equestrian of the Year, and was the first female Soldier to command a U.S. Army Corps of Engineers District in Iraq. She was responsible for overseeing the rebuilding efforts in the region. In total, she has commanded three U.S. Army Corps of Engineers Districts.</p>
                                <ul>
                                    <li><a href="https://www.armyg1.army.mil/hr/wita/Debra_M_Lewis.asp" title="Former Full Profile (Army G-1)">Former Full Profile (Army G-1)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Johnson_Brown.jpg" alt="Brigadier General Hazel Johnson-Brown">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Hazel Johnson-Brown</h4>
                            <span></span>
                            <p class="profile-subtitle">1979: First African-American chief of the Army Corps and first African-American female brigadier general</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Johnson-Brown was an operating room nurse, who graduated from the Harlem Hospital School of Nursing and joined the Army in 1955. She thought it would be an opportunity that would allow her to explore the world and hone her nursing skills. She had no idea she would become a part of military history. Timing had much to do with Johnson-Brown's success in the military, as she entered the Army shortly after President Harry Truman banned segregation and discrimination in the armed services. Following her retirement, Johnson-Brown enjoyed a distinguished "second" career in academia. She served as professor of nursing at Georgetown University in Washington, D.C., and finally at George Mason University in Virginia. At George Mason University, she was instrumental in founding the Center for Health Policy, designed to educate and involve nurses in health policy and policy design. Johnson-Brown retired from teaching in 1997.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Hayes.jpg" alt="Second Lieutenant Marcella Hayes">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Second Lieutenant</p>
                            <h4>Marcella Hayes</h4>
                            <span></span>
                            <p class="profile-subtitle">1979: First black female pilot in the U.S. Armed Forces </p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Hayes is also the first black woman to graduate from Army Flight School in Fort Rucker, Ala. She received her Army aviator wings in November 1979. Hayes' interest in flying began when she was an ROTC cadet at the University of Wisconsin. Her helicopter flight training required she earn her paratrooper badge as well as pass the rigorous Flight Aptitude Selection Test and the flight physical. Hayes was the 55th woman to earn her pilots wings and she retired from the Army as a Transportation Corps lieutenant colonel.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/e2/rv5_downloads/features/comrel/speeches/2012/2012-Womens-History-Month-Speakers-Toolkit.pdf" title="Biographies of Army women in history">Biographies of Army women in history</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Murphy.jpg" alt="Colonel Sally Murphy">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Colonel</p>
                            <h4>Sally Murphy</h4>
                            <span></span>
                            <p class="profile-subtitle">1974: The Army's first female helicopter pilot</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Murphy graduated from the Army Aviation School at Fort Rucker, Ala. She joined the Army's Women Army Corps in 1972, and entered the aviation school when women were first allowed in. Murphy flew helicopters for the 1st Infantry Division at Fort Riley, Kan., and commanded the 62nd Aviation Company in Germany and the 78th Aviation Battalion (Provisional) in Japan.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/18853/army-honors-its-first-female-helicopter-pilot/" title="Army honors its first female helicopter pilot">Army honors its first female helicopter pilot</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Henderson.jpg" alt="Captain Alice M. Henderson">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Captain</p>
                            <h4>Alice M. Henderson</h4>
                            <span></span>
                            <p class="profile-subtitle">1974: The first woman to officially serve in the U.S. Army Chaplain Corps</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Henderson was sworn in at U.S. Army Forces Command at Fort McPherson, Ga., and served in the military for 13 years.</p>
                                <ul>
                                    <li><a href="https://www.army.mil/article/122458/Women_in_the_U_S__Army_Chaplain_Corps/ " title="Women in the U.S. Army Chaplain Corps">Women in the U.S. Army Chaplain Corps</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Hays.jpg" alt="Brigadier General Anna Mae Hays">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Anna Mae Hays</h4>
                            <span></span>
                            <p class="profile-subtitle">1970: The first woman and the first nurse in American military history to attain a general officer rank</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Hays received a commission in the Army Nurse Corps in May 1942. Her overseas assignments included service in India, Korea, and Japan. She was promoted to a brigadier general, June 11, 1970. During her tenure as chief, she continued to deal with the imposing challenges of recruitment and retention as the Vietnam War reached its height.</p>
                                <ul>
                                    <li><a href="https://www.armyheritage.org/education-and-programs/educational-resources/soldier-stories/214-brigadier-general-anna-mae-hays.html" title="Former Full Profile (Army Heritage Center)">Former Full Profile (Army Heritage Center)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Hoisington.jpg" alt="Brigadier General Elizabeth P. Hoisington">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Brigadier General</p>
                            <h4>Elizabeth P. Hoisington</h4>
                            <span></span>
                            <p class="profile-subtitle">1970: The first Women's Army Corps officer to be promoted to the rank of general officer</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Hoisington advanced through the ranks of the Women's Army Corps and served as director of the Women's Army Corps from 1966-1971. Hoisington also became the second woman to be promoted to the rank of general officer, June 11, 1970.</p>
                                <ul>
                                    <li><a href="http://www.washingtonpost.com/wp-dyn/content/article/2007/08/23/AR2007082302337.html " title="Pioneering Brig. Gen. Elizabeth P. Hoisington (Washington Post)">Pioneering Brig. Gen. Elizabeth P. Hoisington (Washington Post)</a></li>
                                    <li><a href="https://archive.org/details/gov.archives.arc.34438 " title="Retirement Ceremony (National Archives)">Retirement Ceremony (National Archives)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/burrows.jpg" alt="Private First Class Emma J. Burrows">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Private First Class</p>
                            <h4>Emma J. Burrows</h4>
                            <span></span>
                            <p class="profile-subtitle">1945: First crew chief and flight engineer</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Before joining the Women’s Army Corps, Burrows-Windham majored in aeronautical engineering at the University of California. She held a civilian pilot's license and was credited with 349 flying hours. Burrows-Windham was the director of flying for the New Mexico Wing of Women Flyers when asked to join the WAC. She served in the European Theater of Operations where her wings were a matter of such curiosity that Military Policemen stopped her on the streets to ask her authority for wearing the air crew member's insignia. Windham earned her wings while stationed at Gore Field, Mo. Qualifying for the dual rating of crew chief and flight engineer, Windham completed many flights from Montana to Fairbanks, Alaska, and cross-country from Montana to Florida. She passed away, March 31, 1945, when the C-17 she was in collided with a C-47 over England.</p>
                                <ul>
                                    <li><a href="http://www.awm.lee.army.mil/pdfs_docs/-Emma%20Jane%20Burrows%20Windham.docx.pdf" title="U.S. Army Women’s Museum ">U.S. Army Women’s Museum </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Raney.jpg" alt="Maj. Della H. Raney">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Major</p>
                            <h4>Della H. Raney</h4>
                            <span></span>
                            <p class="profile-subtitle">1942: First black chief nurse commissioned as a lieutenant in the Army Nurse Corp</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Raney was born in Suffolk, Va., Jan. 10, 1912. A graduate of the Lincoln Hospital School of Nursing in Durham, N.C. Approximately 500 black nurses served in the ANC during World War II. Raney was promoted to captain in 1945. After the war, she was assigned to head of the nursing staff at the station hospital at Camp Beale, Calif. Raney retired in 1978 as major.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Hobby.jpg" alt="Colonel Oveta Culp Hobby">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Colonel</p>
                            <h4>Oveta Culp Hobby</h4>
                            <span></span>
                            <p class="profile-subtitle">1942: The first director of the WAAC and Women's Army Corps and the first Secretary of Health, Education and Welfare</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>Hobby became the first woman sworn into the Women's Army Corps, July 5, 1943. From 1942 to 1945, Hobby served as director of the Women's Army Corps, and as a result of the success she achieved in this position, was awarded the Distinguished Service Medal. On April 11, 1953, President Dwight D. Eisenhower named her head of the Federal Security Agency, and later that year, she was elevated to a cabinet position in the Department of Health, Education, and Welfare as its first secretary - a position she held until 1955.</p>
                                <ul>
                                    <li><a href="http://www.humanitiestexas.org/news/articles/womens-history-month-oveta-culp-hobby-senator-kay-bailey-hutchison" title="&quot;Oveta Culp Hobby&quot; by Senator Kay Bailey (Humanities Texas)">"Oveta Culp Hobby" by Senator Kay Bailey (Humanities Texas)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile veteran">
                    <img src="/e2/rv5_images/women/new_profiles/veterans/320/Hallaren.jpg" alt="Lieutenant Colonel Mary A. Hallaren">
                    <div class="profile-inner">
                        <div class="profile-m">
                            <p class="accent-font">Lieutenant Colonel</p>
                            <h4>Mary A. Hallaren</h4>
                            <span></span>
                            <p class="profile-subtitle">1943: Commanded the first women's battalion to go overseas</p>
                            <h6><a href="javascript:;">READ MORE<span></span></a></h6>
                            <div class="lb-content">
                                <p>The Women's Auxiliary Army Corps, or WAC, was established in May of 1942. Lt. Col. Mary Hallaren was a member of its first officer training class. Shortly after the first class graduated, U.S. field commanders were calling for a female battalion to help overseas. Hallaren became that battalion's commander. After arriving in England, Halleran began touring the posts and facilities where her WACs would be working. The commandant at the first post she visited welcomed the female Soldiers, but not the regulations that accompanied them. In 1948, Hallaren helped work on the legislation to make WAC a permanent part of the regular Army and Reserves. </p>
                                <ul>
                                    <li><a href="http://www.dtic.mil/dtic/tr/fulltext/u2/a232519.pdf" title="The Women's Army Corps">The Women's Army Corps</a></li>
                                    <li><a href="https://www.armywomen.org/wacHistory.shtml " title="History of the Women's Army Corps (Women's Army Corps Veterans' Association)">History of the Women's Army Corps (Women's Army Corps Veterans' Association)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- end veteran profiles -->
            
            </div> <!-- end .inner-container -->
        </div> <!-- end .container -->
    </div> <!-- end #internal_wrap -->


