<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} {% else %} {{ site.title }} | {% endif %}The United States Army</title>
    <meta name="description" content="The United States Army honors female Soldiers who have proudly served in honor of defending America's freedom." />
    <meta property="og:title" content="Women in the United States Army" />
    <meta property="og:url" content="https://www.army.mil/women{{ page.url }}" />
    <meta property="og:description" content="The United States Army honors female Soldiers who have proudly served in honor of defending America's freedom." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/e2/rv5_images/women/wita_og_image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@USArmy" />
    <meta name="theme-color" content="#590222" />
    <style type="text/css">
.yt-container{background-color:#590222;color:#fff;overflow:hidden;position:relative;width:100%}.yt-container .filler{height:100px}.main #army-news,.main #army-resources,.main #army-videos{display:block;width:100%;overflow:hidden;text-align:center}.main #army-resources .col-a{width:64.65054%;float:left;padding-left:1.00806%;padding-right:1.00806%}.main #army-resources .col-b{width:31.3172%;float:left;padding-left:1.00806%;padding-right:1.00806%}.main #army-resources div{text-align:left}@media (min-width:481px) and (max-width:768px){.main #army-resources .col-a,.main #army-resources .col-b{width:97.98387%;float:left;padding-left:1.00806%;padding-right:1.00806%}.main #army-resources .col-a{margin:0 0 40px}}@media (max-width:480px){.main #army-resources .col-a,.main #army-resources .col-b{width:97.98387%;float:left;padding-left:1.00806%;padding-right:1.00806%}.main #army-resources .col-a{margin:0 0 40px}}.main #army-resources h4{margin:0 0 25px}.main #army-resources h4::after{background-color:#c7b07b;content:'';display:block;height:5px;margin:14px 0;width:60px}.main #army-resources ul{list-style:none inside}.main #army-resources ul li{padding:0 0 10px}.main #army-resources ul li a{line-height:1.222}.main .button{text-align:center}.main .button a{border:1px solid #f1f0f2;background-color:#363540;color:#f1f0f2;display:inline-block;font:700 .938em/3.333em Lato,sans-serif;padding:0 30px;text-transform:uppercase}a,body{color:#35393d}.main #army-news,.main #army-videos{display:block;width:100%;overflow:hidden;text-align:center}.main #army-news h2,.main #army-videos h2{margin:0 0 40px}a,body,div,h2,h4,header,html,img,li,nav,p,q,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}header,nav{display:block}body{line-height:1;background:#F7F7F7;font:400 15px/1.733em "Droid Serif",serif;height:100%;margin:0}q{quotes:none}q:after,q:before{content:'';content:none}h2,h4{margin:0 0 10px}h2{font:700 2.667em/1.3em "Droid Serif",serif}h4{font:700 1.6em/1.3em Lato,sans-serif}p{font:400 1em/1.733em "Droid Serif",serif;margin:0 0 25px;text-align:justify}p.last{margin:0}@media (max-width:480px){p{text-align:left}}.main #army-news,.main #quote,.main #quote p,.main h2,header nav{text-align:center}a{text-decoration:none;-webkit-transition:all .1s linear 0s;-moz-transition:all .1s linear 0s;-ms-transition:all .1s linear 0s;-o-transition:all .1s linear 0s;transition:all .1s linear 0s;outline:0}ul{font:400 1.133em/1.5em Lato,sans-serif;list-style:disc inside}header{background:#590222;position:relative;z-index:12}header a{color:#fff;letter-spacing:.05em}header .header-container{background:#590222;left:0;height:65px;padding:0 20px;position:fixed;right:0;top:0;-webkit-backface-visibility:hidden;z-index:12;-webkit-transition:top .1s ease 0s;-moz-transition:top .1s ease 0s;-ms-transition:top .1s ease 0s;-o-transition:top .1s ease 0s;transition:top .1s ease 0s}header .header-container h4{float:left;font:900 1.6em/1.3em Lato,sans-serif;margin:0;text-transform:uppercase}header .header-container h4 a{display:inline-block;padding:18px 0}header .header-container h4 a span{font:italic 400 1em/1.3em "Droid Serif",serif;letter-spacing:0;text-transform:none}header .header-container div{position:fixed;right:20px;top:0}header .header-container div ul{font-size:1em;list-style:none}header .header-container div ul li{display:inline-block;zoom:1;padding:0 10px;position:relative}header .header-container div ul li.last{padding:0 0 0 10px}header .header-container div ul li a{display:inline-block;font:900 1.6em/2.75em Lato,sans-serif;position:relative;text-transform:uppercase}header .header-container div ul li a span,header .header-container div ul li a:after{background:#e8d9ac;bottom:0;content:'';display:none;height:4px;left:50%;margin:0 0 0 -18px;position:absolute;width:36px}header .hamburger{display:none;font:900 1.6em/.333em Lato,sans-serif;height:65px;outline:0;position:absolute;right:0;text-indent:-100000px;text-transform:uppercase;top:0;width:55px;z-index:11}header .hamburger *,header .hamburger ::after,header .hamburger ::before{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}header .hamburger span,header .hamburger span::after,header .hamburger span::before{background:#fff;height:4px;width:25px;right:12px;top:32px;position:absolute;-webkit-transition:transform .25s linear 0s,background .25s linear 0s,top .25s linear 0s;-moz-transition:transform .25s linear 0s,background .25s linear 0s,top .25s linear 0s;-ms-transition:transform .25s linear 0s,background .25s linear 0s,top .25s linear 0s;-o-transition:transform .25s linear 0s,background .25s linear 0s,top .25s linear 0s;transition:transform .25s linear 0s,background .25s linear 0s,top .25s linear 0s}header .hamburger span::before{top:10px}header .hamburger span::after{top:-10px}header .hamburger span::after,header .hamburger span::before{content:'';display:block;right:0}@media (min-width:481px) and (max-width:768px){header .header-container div{background:#590222;bottom:0;height:0;left:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);overflow:hidden;right:0;top:65px;z-index:12;-webkit-transition:height .25s linear 0s,opacity .25s linear 0s;-moz-transition:height .25s linear 0s,opacity .25s linear 0s;-ms-transition:height .25s linear 0s,opacity .25s linear 0s;-o-transition:height .25s linear 0s,opacity .25s linear 0s;transition:height .25s linear 0s,opacity .25s linear 0s}header .header-container div ul{overflow:hidden;padding:10%;text-align:center}header .header-container div ul li{display:list-item;margin:0 0 50px}header .header-container div ul li a:after{display:block}header .header-container div ul li a span{display:none}header .hamburger{display:block}}@media (max-width:480px){header .header-container div{background:#590222;bottom:0;height:0;left:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);overflow:hidden;right:0;top:65px;z-index:12;-webkit-transition:height .25s linear 0s,opacity .25s linear 0s;-moz-transition:height .25s linear 0s,opacity .25s linear 0s;-ms-transition:height .25s linear 0s,opacity .25s linear 0s;-o-transition:height .25s linear 0s,opacity .25s linear 0s;transition:height .25s linear 0s,opacity .25s linear 0s}header .header-container div ul{overflow:hidden;padding:10%;text-align:center}header .header-container div ul li{display:list-item;margin:0 0 50px}header .header-container div ul li a:after{display:block}header .header-container div ul li a span{display:none}header .hamburger{display:block}}header .nav-container{height:65px}header nav{background:#705b35;border-bottom:5px solid #705b35;bottom:0;max-height:60px;left:0;position:relative;right:0;-webkit-backface-visibility:hidden;z-index:11;-webkit-transition:top .25s ease 0s,max-height .25s linear 0s;-moz-transition:top .25s ease 0s,max-height .25s linear 0s;-ms-transition:top .25s ease 0s,max-height .25s linear 0s;-o-transition:top .25s ease 0s,max-height .25s linear 0s;transition:top .25s ease 0s,max-height .25s linear 0s}header nav ul{font:400 1.133em/3.667em Lato,sans-serif;list-style:none}header nav ul li{display:inline-block;zoom:1;height:60px;margin:0 20px 0 0}header nav ul li.last{margin:0}header nav ul li a{color:#f1f0f2;display:inline-block;text-transform:uppercase;-webkit-transition:none 0s;-moz-transition:none 0s;-ms-transition:none 0s;-o-transition:none 0s;transition:none 0s}header nav ul li.active{border-bottom:5px solid #c7b07b}.wrapper{position:relative;left:0;-webkit-transition:left 1s ease 0s;-moz-transition:left 1s ease 0s;-ms-transition:left 1s ease 0s;-o-transition:left 1s ease 0s;transition:left 1s ease 0s}.masthead-buffer{height:65px}.masthead-container{padding:0 0 41.667%;position:relative;text-align:center;width:100%}.masthead-container div{left:0;position:absolute;top:37%;width:100%;z-index:1}@media (min-width:1201px){.masthead-container{height:500px;padding:0}}@media (min-width:481px) and (max-width:768px){.masthead-container{height:320px;padding:0}.masthead-container .full-width-image{text-align:center}}@media (max-width:480px){header nav ul{font:400 1.067em/3.9em Lato,sans-serif}header nav ul li{margin:0 10px 0 0}.masthead-container{height:320px;padding:0}.masthead-container .full-width-image{text-align:center}}.masthead-container .full-width-image{background-color:#F7F7F7;background-repeat:no-repeat;background-size:cover;height:100%;left:0;margin:0 auto;overflow:hidden;position:absolute;top:0;width:100%;background-position:center 34%;background-image:url(/e2/rv5_images/women/masthead/2500.jpg)}.main,.main #quote q{position:relative}@media (max-width:480px){.masthead-container .full-width-image{background-image:url(/e2/rv5_images/women/masthead/480.jpg)}}@media (min-width:480px) and (max-width:768px){.masthead-container .full-width-image{background-image:url(/e2/rv5_images/women/masthead/768.jpg)}}@media (min-width:768px) and (max-width:992px){.masthead-container .full-width-image{background-image:url(/e2/rv5_images/women/masthead/992.jpg)}}@media (min-width:992px) and (max-width:1200px){.masthead-container .full-width-image{background-image:url(/e2/rv5_images/women/masthead/1900.jpg)}}@media (min-width:1200px){.masthead-container .full-width-image{background-image:url(/e2/rv5_images/women/masthead/2500.jpg)}}.masthead-container .no-bg-size{display:none}.container{margin:0 auto;max-width:992px;overflow:hidden}.main h2{margin:0 0 25px}.main h2::after{background-color:#c7b07b;content:'';display:block;height:5px;margin:14px auto;width:60px}.main .container{margin:70px auto}@media (min-width:481px) and (max-width:768px){.main .container{margin:60px 0}}@media (max-width:480px){.main .container{margin:50px 0}}.main .container .inner-container{margin:0 10px}.main #quote{display:block;width:100%;overflow:hidden}.main #quote q{display:block;font:400 1.333em/1.75em "Droid Serif",serif;margin:0 auto 25px;width:83%}.main #quote q span{display:none}.main #quote q span.after,.main #quote q span.before,.main #quote q:after,.main #quote q:before{position:absolute}.main #quote q span.before,.main #quote q:before{content:'';height:60px;left:-83px;top:0;width:82px}.main #quote q span.after,.main #quote q:after{bottom:0;content:'';height:60px;right:-83px;width:82px}.main #quote p{font:italic 400 1.333em/1.3em "Droid Serif",serif}.main #quote p.tall,.main #quote p:last-child{line-height:2.125em}@media (min-width:481px) and (max-width:768px){.main #quote q span.before,.main #quote q:before{left:-50px}.main #quote q span.after,.main #quote q:after{right:-50px}.main #quote q{font:400 1.133em/1.75em "Droid Serif",serif}.main #quote p{font:italic 400 1.133em/1.3em "Droid Serif",serif}}@media (max-width:480px){.main #quote q span.before,.main #quote q:before{left:-50px}.main #quote q span.after,.main #quote q:after{right:-50px}.main #quote q{font:400 1.067em/1.75em "Droid Serif",serif}.main #quote p{font:italic 400 1.067em/1.3em "Droid Serif",serif}}.main #army-news{display:block;width:100%;overflow:hidden;background:#363540}.main #army-news h2{margin:0 0 40px;color:#fff}
</style>
<script>
(function(u){function loadCSS(e,t,n){"use strict";function r(){for(var t,i=0;i<d.length;i++)d[i].href&&d[i].href.indexOf(e)>-1&&(t=!0);t?o.media=n||"all":setTimeout(r)}var o=window.document.createElement("link"),i=t||window.document.getElementsByTagName("script")[0],d=window.document.styleSheets;return o.rel="stylesheet",o.href=e,o.media="only x",i.parentNode.insertBefore(o,i),r(),o}for(var i in u){loadCSS(u[i]);}}(['https://fonts.googleapis.com/css?family=Lato:400,700,900|Droid+Serif:400italic,400,700|Source+Sans+Pro:400,700','/e2/rv5_css/women/style.css']));
</script>
<noscript>
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Droid+Serif:400italic,400,700|Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/e2/rv5_css/women/style.css">
</noscript>
    
    <!--[if lte IE 8]>
            <link rel="stylesheet" href="/e2/rv5_css/women/old_ie_style.css" type="text/css" media="screen" />
    <![endif]-->
    
    <script type="text/javascript" src="/e2/rv5_js/women/modernizr.custom.js"></script>
</head>

<body>
    <div class="wrapper">
        {% include header.html %}
        
        {{ content }}
        
        {% include footer.html %}
    </div>
    
    {% include lightbox.html %}

    {% include scripts.html %}
    
    <!-- OWL SCRIPTS -->
    <script type="text/javascript" src="/e2/rv5_js/women/owl-custom.min.js"></script>
    <!-- END SCRIPTS --></body>
</html>

