---
layout: default
active: intro
include-nav: true
nav-elements:
- title: INTRO
  href: '#quote'
- title: NEWS
  href: '#army-news'
- title: VIDEOS
  href: '#army-videos'
- title: RESOURCES
  href: '#army-resources'
---

    <div id="intro" class="main">
        <div id="quote">
            <div class="container">
                <div class="inner-container">
                    <q><span class="before"></span>The defense of our nation is a shared responsibility. Women have served in the defense of this land for years before our United States was born. They have contributed their talents, skills and courage to this endeavor for more than two centuries with an astounding record of achievement that stretches from Lexington and Concord to the Persian Gulf and beyond.<span class="after"></span></q>
                    <p class="last">Retired Gen. Gordon R. Sullivan</p>
                    <p class="last tall">Chief of Staff of the Army, 1991-1995</p>
                </div>
            </div>
        </div>
        
        <div id="army-news">
            <div class="container">
                <div class="inner-container">
                    <h2>News</h2>
                    <div class="button-wrap">
                        <span class="button">
                            <a id="more-news" href="javascript:;">MORE NEWS</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="army-videos">
            <div class="container">
                <div class="inner-container">
                    <h2>Videos</h2>
                    <div class="yt-container" id="PLitjSv4Sbrky2aPMSRuhRHALvBuDkhBq4" title="Women in the U.S. Army Playlist">
                        <div class="filler"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="army-resources">
            <div class="container">
                <div class="inner-container">
                    <div class="col-a">
                        <h4>Related Links</h4>
                        <ul>
                            <li><a href="/e2/rv5_downloads/women/2016_womens_history_month_trisign.pdf">2016 Tri-signed Letter: Women's History Month</a></li>
                            <li><a href="/e2/rv5_downloads/women/full_integration_of_women_in_the_army.pdf">2015 Tri-signed Letter: Full Integration of Women in the Army</a></li>
                            <li><a href="https://www.army.mil/standto/archive_2016-03-02">STAND-TO! Women's History Month</a></li>
                            <li><a href="https://www.armyg1.army.mil/hr/wita/default.asp">Army G-1: Women in the Army</a></li>
                            <li><a href="http://www.history.army.mil/html/topics/women/index.html">Center for Military History: Women in Army History</a></li>
                            <li><a href="http://www.awm.lee.army.mil/">U.S. Army Women's Museum</a></li>
                            <li><a href="http://www.carlisle.army.mil/ahec/index.cfm">U.S. Army Heritage and Education Center</a></li>
                            <li><a href="http://www.defense.gov/News/Special-Reports/0316_womens-history">DOD: Women's History Month</a></li>
                        </ul>
                    </div>
                    <div class="col-b">
                        <h4>Veterans Resources</h4>
                        <ul>
                            <li><a href="http://www.loc.gov/vets/stories/ex-war-women4wars.html">Experiencing War: Women of four wars</a></li>
                            <li><a href="http://www.va.gov/womenvet/">Center for Women Veterans</a></li>
                            <li><a href="http://www.womenshealth.va.gov/">Women Veterans Health Care</a></li>
                        </ul>
                        <div id="share">
                            <h4 class="last">Share Online</h4>
                            <span class="social twitter">
                                <a href="https://twitter.com/share?hashtags=USArmy,WomensHistory">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="24px" viewbox="0 0 22.732 18.461" enable-background="new 0 0 22.732 18.461" xml:space="preserve">
                                    <path fill="none" d="M20.396,4.6c0.013,0.204,0.013,0.405,0.013,0.607c0,6.159-4.688,13.254-13.254,13.254
                                        c-2.638,0-5.091-0.766-7.154-2.091c0.377,0.043,0.736,0.057,1.127,0.057c2.179,0,4.184-0.735,5.783-1.989
                                        c-2.048-0.043-3.766-1.385-4.354-3.229c0.286,0.043,0.575,0.071,0.88,0.071c0.418,0,0.837-0.057,1.226-0.157
                                        c-2.134-0.435-3.733-2.309-3.733-4.573c0-0.014,0-0.042,0-0.057c0.618,0.346,1.341,0.563,2.104,0.592
                                        c-1.257-0.838-2.08-2.266-2.08-3.882c0-0.864,0.231-1.658,0.635-2.351c2.294,2.827,5.74,4.673,9.606,4.876
                                        c-0.072-0.346-0.116-0.708-0.116-1.067C11.077,2.092,13.155,0,15.736,0c1.342,0,2.554,0.563,3.404,1.471
                                        c1.053-0.202,2.062-0.592,2.956-1.125c-0.349,1.082-1.081,1.991-2.05,2.568c0.938-0.101,1.848-0.362,2.686-0.722
                                        C22.097,3.116,21.303,3.938,20.396,4.6z"/>
                                    </svg>
                                </a>
                            </span>
                            <span class="social pinterest">
                                <a href="https://pinterest.com/pin/create/button/?url=http%3A//www.army.mil/women/&media=http%3A//www.army.mil/e2/rv5_images/women/wita_og_image.jpg&description=Women%20have%20served%20the%20United%20States%20Army%20since%201775.%20They%20nursed%20the%20ill%20and%20wounded,%20laundered%20and%20mended%20clothing,%20and%20cooked%20for%20the%20troops%20in%20camp%20on%20campaign;%20services%20that%20did%20not%20exist%20among%20the%20uniformed%20personnel%20within%20the%20Army%20until%20the%2020th%20century.%20Women%20were%20an%20invaluable%20and%20essential%20part%20of%20the%20Army%20as%20they%20are%20today.">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewbox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <g>
                                        <path fill="none" d="M12,0C5.372,0,0,5.373,0,12c0,5.084,3.163,9.426,7.626,11.174c-0.104-0.949-0.2-2.405,0.042-3.441
                                            c0.218-0.938,1.407-5.965,1.407-5.965s-0.359-0.719-0.359-1.782c0-1.668,0.967-2.914,2.171-2.914c1.023,0,1.519,0.769,1.519,1.69
                                            c0,1.029-0.655,2.568-0.994,3.995c-0.283,1.194,0.598,2.169,1.776,2.169c2.133,0,3.773-2.249,3.773-5.495
                                            c0-2.873-2.065-4.882-5.014-4.882c-3.414,0-5.418,2.561-5.418,5.207c0,1.031,0.398,2.138,0.893,2.738
                                            c0.099,0.12,0.113,0.223,0.083,0.345c-0.091,0.379-0.293,1.194-0.333,1.361C7.121,16.42,7,16.466,6.772,16.36
                                            c-1.499-0.698-2.436-2.89-2.436-4.649c0-3.785,2.751-7.262,7.93-7.262c4.163,0,7.397,2.967,7.397,6.931
                                            c0,4.136-2.607,7.465-6.227,7.465c-1.216,0-2.359-0.632-2.75-1.378c0,0-0.602,2.291-0.748,2.852
                                            c-0.271,1.043-1.002,2.349-1.492,3.146C9.569,23.813,10.763,24,12,24c6.627,0,12-5.373,12-12S18.627,0,12,0z"/>
                                    </g>
                                    </svg>
                                </a>
                            </span>
                            <span class="social facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.army.mil/women/">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="24px" viewbox="0 0 12.461 24" enable-background="new 0 0 12.461 24" xml:space="preserve">
                                    <path fill="none" d="M12.461,3.981h-2.266c-1.771,0-2.105,0.851-2.105,2.077v2.726h4.228l-0.563,4.271H8.09V24H3.679V13.053H0
                                        v-4.27h3.679V5.639C3.679,1.991,5.913,0,9.174,0c1.557,0,2.897,0.116,3.287,0.173V3.981z"/>
                                    </svg>
                                </a>
                            </span>
                            <span class="social google last">
                                <a href="https://plus.google.com/share?url=http%3A//www.army.mil/women/">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="24px" viewbox="0 0 33 22" enable-background="new 0 0 33 22" xml:space="preserve">
                                    <path fill="none" d="M33,9.625h-3.438V6.188h-2.75v3.438h-3.438v2.75h3.438v3.438h2.75v-3.438H33 M11,8.938v4.29h5.996
                                        c-0.461,2.585-2.703,4.469-5.996,4.469c-3.63,0-6.579-3.073-6.579-6.703S7.37,4.297,11,4.297c1.636,0,3.101,0.563,4.255,1.664v0.007
                                        l3.101-3.101C16.452,1.093,13.97,0,11,0C4.923,0,0,4.923,0,11s4.923,11,11,11c6.353,0,10.56-4.469,10.56-10.752
                                        c0-0.805-0.075-1.575-0.213-2.31H11z"/>
                                    </svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p>A special thanks to the <a href="http://www.carlisle.army.mil/ahec/index.cfm" target="_blank">U.S. Army Heritage and Education Center</a> and <a href="http://www.awm.lee.army.mil/" target="_blank">U.S. Army Women's Museum</a> at Fort Lee, Va, for providing the historical content &amp; photos featured on this website.</p>
                </div>
            </div> <!-- end .container -->
        </div>
        
    </div> <!-- end .main -->
