$background: #F7F7F7;
//$font: #343330;
$separator: #E3E2DC;
$base: #7e858d;
$accent_color: #e3e2dc;
$text_base_color: #343330;
$highlight: #e3c470;

// let's do this here instead of all over the place
$dark: darken($base, 20); // should be #4c5055
$medium: darken($base, 13); // should be #5f646a
$light: lighten($base, 34); // should be #dbddde
$font: darken($base, 30);

// Social Media brand colors
$fb: #3c5a99;
$twitter: #55acee;
$google: #dc4e41;
$pinterest: #bd081c;

$red: #590222;
$gold1: #fff6d9;
$gold2: #e8d9ac;
$gold3: #c7b07b;
$gold4: #705b35;
$light_gray: #f1f0f2;
$dark_gray: #87878c;
$dark_blue: #363540;
$black: #1b1b20;
$black_gray: #292929;

$svg-fill: $dark_blue;
$svg-fill-hover: $black_gray;


