$container:992px;

html.menu-open {
    overflow-y: hidden!important;
}
body.menu-open {
    overflow: hidden;
    width: 100%;
}

body {
    background: $background;
    color: $font;
    font: 400 15px/1.733em $droid-serif;
    height: 100%;
    margin: 0;
    
    #featureBar {
        display: block;
        position: fixed;
        top: 0;
        z-index: 10;
        &.fb_collapsed {
            display: none;
        }
        @include breakpoint(desktop tablet mobile) {
            display: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 10px;
}

h1 { @include header1(); }
h2 { @include header2(); }
h3 { @include header3(); }
h4 { @include header4(); }
h5 { @include header5(); }
h6 { @include header6(); }
.accent-font { @include accentFont(); }

p {
    @include normal_p();
    margin: 0 0 25px;
    text-align: justify;
    
    &.bold {
        font-weight: 700;
    }
    
    &.last {
        margin: 0;
    }
    
    &.sans {
        @include sans_p();
    }
    
    &.lead-p {
        @include lead_p();
    }
    
    @include breakpoint(mobile) {
        text-align: left;
    }
}

a {
    color: $font;
    text-decoration: none;
    @include transition(all .10s linear 0s);
    outline: 0 none;
}

ul { @include list_items(); }

.clearfix {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    width: 100%;
}
