$src-sans-pro: 'Source Sans Pro', sans-serif;
$droid-serif: 'Droid Serif', serif;
$lato: 'Lato', sans-serif;


@mixin header1() {
    font: 700 3.933em/1.3em $src-sans-pro;
}

@mixin header2() {
    font: 700 2.667em/1.3em $droid-serif;
}

@mixin header3() {
//    color: #f1f0f2;
    font: 700 2.267em/1.3em $lato;
}

@mixin header4() {
//    color: #f1f0f2;
    font: 700 1.600em/1.3em $lato;
}

@mixin header5() {
    font: 700 1.333em/1.3em $droid-serif;
}

@mixin header6() {
    font: 700 1.067em/1.3em $lato;
}

@mixin accentFont() {
    font: 700 1em/1.3em $droid-serif;
}

@mixin lead_p() {
    font: 700 1.467em/1.5em $lato;
}

// Paragraph. A series of sentences together.
@mixin normal_p() {
    font: 400 1em/1.733em $droid-serif;
}

// Sans Body copy. A series of sentences together.
@mixin sans_p() {
    font: 400 1.133em/1.5em $src-sans-pro;
}

@mixin list_items() {
    font: 400 1.133em/1.5em $lato;
    list-style: inside disc;
}

