.pagefooter {
    background: $dark_blue;
    text-align: center;
    
    @include old-ie() {
        display: block;
        width: 100%;
    }
    
    .container {
        padding: 50px 10px;
        text-align: center;
    }
    
    .inner-container {
        @include row();
        padding: 0 0 50px;
        position: relative;
        
        div {
            @include span(10);
            
            p {
                color: #fff;
                font: italic 400 15px/1.45em $droid-serif;
                text-align: left;
            }
            
            @include breakpoint(tablet) {
                @include span(9);
            }
            
            @include breakpoint(mobile) {
                @include span(12);
                float: none;
                
                p {
                    text-align: justify;
                }
            }
        }
    }
    
    .star {
        display: block;
        height: 60px;
        text-indent: -99999px;
        width: 48px;
        
        @include bg-sprite(-330px 0);
        
        @include breakpoint(mobile) {
            margin: 0 auto 25px;
        }
    }
    
    ul {
        font: 500 1.333em/1.3em $lato;
        margin: 0 auto;
        
        li {
            display: inline-block;
            zoom: 1;
            *display: inline;
            padding: 0 10px 10px;
            
            a { color: #fff; }
            
            &.last {
                position: relative;
            }
        }
        
        @include breakpoint(mobile) {
            float: none;
            margin: 0 auto;
            li {
                display: block;
                padding: 0 0 10px;
            }
        }
    }
}
