header {
    background: $red;
    position: relative;
    z-index: 12;
    
    a {
        color: #fff;
        letter-spacing: .05em;
    }
    
    &.sticky {
        nav {
            position: fixed;
            top: 65px;
            
            @include breakpoint(tablet mobile) {
                &.open { overflow: auto; }
            }
        }
    }
    
    .header-container {
        background: $red;
        left: 0;
        height: 65px;
        padding: 0 20px;
        position: fixed;
        right: 0;
        top: 0;
        -webkit-backface-visibility: hidden; // android has an issue with fixed position elements
        z-index: 12;
        
        @include transition(top .10s ease 0s);
        
        // "WOMEN in the ARMY" header
        h4 {
            float: left;
            font: 900 1.6em/1.3em $lato;
            margin: 0;
            text-transform: uppercase;
            
            a {
                display: inline-block;
                padding: 18px 0;
                
                span {
                    font: italic 400 1em/1.3em $droid-serif;
                    letter-spacing: 0;
                    text-transform: none;
                }
            }
        }
        
        div {
            position: fixed;
            right: 20px;
            top: 0;
            
            ul {
                font-size: 1em;
                list-style: none;
                
                li {
                    display: inline-block;
                    zoom: 1;
                    *display: inline;
                    padding: 0 10px;
                    position: relative;
                    
                    &.last { padding: 0 0 0 10px; }
                    
                    a {
                        display: inline-block;
                        font: 900 1.6em/2.75em $lato;
                        position: relative;
                        text-transform: uppercase;
                        
                        &:after, span {
                            background: $gold2;
                            bottom: 0;
                            content: '';
                            display: none;
                            height: 4px;
                            left: 50%;
                            margin: 0 0 0 -18px;
                            position: absolute;
                            width: 36px;
                        }
                    }
                }
            }
        }
    } // end .header-container
    
    .hamburger {
        display: none;
        font: 900 1.6em/.333em $lato;
        height: 65px;
        outline: 0 none;
        position: absolute;
        right: 0;
        text-indent: -100000px;
        text-transform: uppercase;
        top: 0;
        width: 55px;
        z-index: 11;
        
        *,
        *::before,
        *::after {
            @include transform(translate3d(0,0,0));
        }
        
        &.active {
            span {
                background: transparent;
                @include transform(translateX(0) rotateX(0));
                
                &::before {
                    @include transform(rotate(-45deg));
                }
                
                &::after {
                    @include transform(rotate(45deg));
                }
                
                &::before, &::after { top: 0; }
            }
            
            @include nope(csstransforms3d) {
                background: url($sprite-png) no-repeat -123px 0;
                background: url($sprite-svg) no-repeat -123px 0;
                height: 25px;
                top: 23px;
                right: 15px;
                width: 20px;
                
                span { display: none; }
            }
        }
        
        @include nope(csstransforms3d) {
            background: url($sprite-png) no-repeat -379px -31px;
            background: url($sprite-svg) no-repeat -379px -31px;
            height: 25px;
            top: 23px;
            right: 15px;
            width: 25px;
            
            @include transition(none);
            
            span { display: none; }
        }
        
        span, span::before, span::after {
            background: #fff;
            height: 4px;
            width: 25px;
            right: 12px;
            top: 32px;
            position: absolute;
            @include transition(transform .25s linear 0s, background .25s linear 0s, top .25s linear 0s);
        }
        
        span::before { top: 10px; }
        
        span::after { top: -10px; }
        
        span::before, span::after {
            content: '';
            display: block;
            right: 0;
        }
    } // end .hamburger
    
    @include breakpoint(tablet mobile) {
        
        &.hidden nav { top: -65px; }
        
        &.hide-one, &.hidden {
            .header-container {
                top: -130px;
                @include transition(top .5s ease 0s);
            }
        }
        
        .header-container div {
            background: $red;
            bottom: 0;
            height: 0;
            left: 0;
            @include Opacity(0);
            overflow: hidden;
            right: 0;
            top: 65px;
            z-index: 12;
            
            @include transition(height .25s linear 0s, opacity .25s linear 0s);
            
            &.open {
                height: 100%;
                overflow-y: scroll;
                @include Opacity(1);
            }
            
            ul {
                overflow: hidden;
                padding: 10%;
                text-align: center;
                
                li {
                    display: list-item;
                    margin: 0 0 50px;
                    
                    a {
                        &:after { display: block; }
                        span { display: none; }
                        @include nope(generatedcontent) {
                            span { display: inline; }
                        }
                    }
                }
            }
        }
        
        .hamburger { display: block; }
    } // end breakpoint
    
    @import 'nav';
}
