.wrapper {
    position: relative;
    left: 0;
    @include transition(left 1s ease 0s);

    nav .history-back-link {
        display: none;
        float: left;
        margin: 0 0 0 15px;
        a {
            font: 400 1.133em/3.667em "Lato",sans-serif;
            text-transform: uppercase;
            
            span {
                @include bg-sprite(-106px -14px);
                display: inline-block;
                height: 13px;
                margin: 0 10px 0;
                width: 16px;
            }
        }
    }
    .sub-page-container {
        background: $background;
        left: 100%;
        overflow-y: auto;
        position: fixed;
        top: 130px;
        bottom: 0;
        width: 100%;
        @include transition(left 1s ease 0s);

        @include breakpoint(mobile tablet) {
            top: 0;
            .container {
                padding: 120px 0 0;
            }
        }
    }
}

.show-sub-page {
    overflow-y: hidden;
    .wrapper {
        left: -100%;
        nav {
            .history-back-link { display: block; }
            
            ul { display: none; }
        }
        .sub-page-container {
            left: 0;
        }
    }
}
.is-sub-page {
    .wrapper {
        nav {
            .history-back-link { display: block; }
            
            ul { display: none; }
        }
    }
}

#history-page.main {
    p {
        text-align: left;
        
        a { text-decoration: underline; }
        
        img.hidden { // may be a bit overkill, but I don't wanna see this image at alllllll
            display: none;
            height: 0px;
            left: -100000px;
            position: absolute;
            width: 0px;
        }
    }
    .container {
        
        &#wwi {
            margin-bottom: 65px;
        }
        
        &#wwii {
            .float-right-full {
                margin: 50px auto 0;
            }
        }
        
        .inner-container,
        .sub-page-inner .inner-container {
            h5 {
                color: $red;
                font: 700 1.333em/1.3em $lato;
            }
            
            h6 {
                font: 700 1.067em/1.3em $src-sans-pro;
            }
            
            @include span(10);
            @include offset(1);
            
            @include breakpoint(mobile) {
                float: none;
                margin: 0 10px;
                padding: 0;
                width: auto;
            }
        }
        
        .sub-page-inner .inner-container h2 { margin: 0 0 45px; }
        
        .read-more-section {
            clear: left;
            .more-btn { display: inline; }
            .less-btn { display: none; }
            .read-more-content {
                @include Opacity(0);
                max-height: 0;
                overflow: hidden;
                @include transition(opacity .25s linear 0s, max-height .25s linear 0s);
                @include old-ie() {
                    display: none;
                }
            }
            &.show-more {
                .more-btn { display: none; }
                .less-btn { display: inline; }
                .read-more-content {
                    max-height: 5000px;
                    @include Opacity(1);
                    @include old-ie() {
                        display: block;
                    }
                }
            }
            
            .readmore-image {
                @include row();
                height: 0;
                margin: 25px 0;
                padding: 22% 0 0;
                position: relative;
                
                .image-tile {
                    height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                }
                
                &.mosaic-2, &.mosaic-4 {
                    padding: 34% 0 0;
                    .image-tile {
                        width: 49%;
                        
                        &.tile-1 { left: 0; }
                        &.tile-2 { right: 0; }
                    }
                }
                
                &.mosaic-3 {
                    .image-tile {
                        width: 32.3172%;
                        
                        &.tile-1 { left: 0; }
                        &.tile-2 { left: 33.8%; }
                        &.tile-3 { right: 0; }
                    }
                }
                
                &.mosaic-4 {
                    padding: 70% 0 0;
                    .image-tile {
                        height: 49%;
                        
                        &.tile-3, &.tile-4 {
                            bottom: 0;
                            top: auto;
                        }
                        
                        &.tile-3 { left: 0; }
                        
                        &.tile-4 { right: 0; }
                    }
                }
                
                .tile-inner {
                    background: #000;
                    display: block;
                    height: 100%;
                    line-height: 0;
                    overflow: hidden;
                    position: relative;
                    
                    img {
                        bottom: -2000px;
                        left: 0;
                        margin: auto;
                        position: absolute;
                        right: 0;
                        top: -2000px;
                        width: 100%;
                    }
                }
                
                p { display: none; }
                
                .view-larger {
                    background: $dark_blue;
                    bottom: 0;
                    height: 40px;
                    position: absolute;
                    right: 0;
                    width: 40px;
                    
                    span {
                        @include bg-sprite(-379px 0);
                        height: 30px;
                        left: 5px;
                        position: absolute;
                        top: 5px;
                        width: 30px;
                    }
                }
            } // end .readmore-image
            
            @include breakpoint(tablet) {
                .readmore-image.mosaic-3 {
                    padding-top: 48%;
                    .image-tile {
                        &.tile-1 {
                            width: 62%;
                        }
                        &.tile-2,
                        &.tile-3 {
                            height: 48%;
                            left: auto;
                            right: 0;
                            width: 36%;
                        }
                        &.tile-3 {
                            bottom: 0;
                            top: auto;
                        }
                    }
                }
            }
            
            @include old-ie() {
                .readmore-image,
                .readmore-image.mosaic-3,
                .readmore-image.mosaic-4 {
                    padding: 0;
                    height: auto;
                    .image-tile {
                        height: auto;
                        position: static;
                        float: left;
                        img {
                            position: static;
                            display: block;
                        }
                    }
                    .tile-2,
                    .tile-3,
                    .tile-4 {
                        float: right;
                    }
                }
                .readmore-image.mosaic-3 .tile-2,
                .readmore-image.mosaic-4 .tile-1,
                .readmore-image.mosaic-4 .tile-2 {
                    margin-bottom: 2%;
                }
                .readmore-image.mosaic-4 .tile-3 {
                    clear: both;
                    float: left;
                }
            }
            
            @include breakpoint(mobile) {
                .readmore-image,
                .readmore-image.mosaic-2,
                .readmore-image.mosaic-3,
                .readmore-image.mosaic-4 {
                    height: auto;
                    padding-top: 0;
                    
                    .image-tile {
                        position: relative;
                        &.tile-1,
                        &.tile-2,
                        &.tile-3 {
                            left: auto;
                            right: auto;
                            width: 100%;
                        }
                        
                        &.tile-1,
                        &.tile-2 {
                            margin: 0 0 25px;
                        }
                        
                        &.tile-4 {
                            width: 100%;
                        }
                        
                        img {
                            position: relative;
                            top: auto;
                            bottom: auto;
                        }
                        
                        p {
                            display: block;
                            font: 400 1em/1.3em $src-sans-pro;
                            margin: 10px 0 0!important;
                            padding: 0!important;
                        }
                        
                        .view-larger { display: none; }
                    }
                }
                
                .readmore-image.mosaic-2 {
                    .image-tile.tile-2 { margin: 0; }
                }
            }
        }
    }

    .responsive-slider {
        background-color: $red;
        color: #fff;
        padding: 70px 50px 90px;
        position: relative;
        
        &::before {
            background: $background;
            content: '';
            height: 25px;
            left: 50%;
            position: absolute;
            top: -13px;
            @include transform(translateX(-50%) rotate(45deg));
            width: 25px;
        }
        
        h2 {
//            line-height: 1;
            margin: 0 0 50px;
        }
        
        @include breakpoint(tablet) {
            padding: 60px 0 80px;
        }
        @include breakpoint(mobile) {
            padding: 50px 0 70px;
        }
    }

    .spotlight-contributors {
        @include breakpoint(desktop) {
            margin: 70px auto;
            max-width: 670px;
        }
        @include breakpoint(tablet mobile) {
            margin: 60px auto;
            max-width: 330px;
        }
        
        .inner-container {
            @include row();
            float: none;
            margin: 0;
            padding: 0;
        }
        
        .contributor {
            @include span(4);
            max-width: 320px;
            overflow: hidden;
            position: relative;
            
            @include breakpoint(desktop) {
                @include span(6);
            }
            
            @include breakpoint(tablet mobile) {
                @include span(12);
            }
            
            img { width: 100%; }
            
            .contributor-inner {
                bottom: 0;
                height: 105px;
                left: 0;
                margin: 0 3% 8px;
                overflow: hidden;
                position: absolute;
                right: 0;
                z-index: 1;
                
                @include transition(height .25s linear 0s);
                
                @include yep(rgba) {
                    background: transparentize($dark_blue, .3);
                }
                
                @include nope(rgba) {
                    background: $dark_blue;
                }
                
                .contributor-m {
                    margin: 9.5%;
                    overflow: hidden;
                }
                
                .contributor-hover {
                    color: $gold1;
                    @include sans_p();
                    margin: 10px 0 0;
                    position: relative;
                    text-align: left;
                }
                
                h4, h6 a { color: #fff; }
                
                h4 {
                    font: 700 1.24em/1.3em $lato;
                    overflow: hidden;
                    
                    &.sm {
                        font-size: 1.3em;
                        line-height: 1.7em;
                    }
                }
                
                h6 {
                    bottom: -75%;
                    margin: 0;
                    position: absolute;
                    text-transform: uppercase;
                    
                    @include transition(bottom .25s linear 0s);
                    
                    span {
                        @include bg-sprite(-106px 0);
                        height: 14px;
                        margin: 0 0 0 10px;
                        width: 16px;
                    }
                }
                
                p.accent-font {
                    color: $gold2;
                    margin: 0 0 5px;
                    text-transform: uppercase;
                }
                
                span {
                    background: $gold4;
                    display: inline-block;
                    height: 5px;
                    margin: 15px 0 0;
                    width: 80px;
                }
                
                .lb-content { display: none; }
            } // end contributor-inner
            
            @include breakpoint(desktop large xl) {
                &:hover {
                    .contributor-inner {
                        height: 100%;
                        
                        h6 { bottom: 25px; }
                    }
                }
            }
            
            @include old-ie() {
                height: 320px;
                max-width: 310px;
                
                .contributor-inner {
                    height: 102px;
                    
                    h4 { font-size: 1.133em; }
                    
                    h6 span {
                        position: absolute;
                        top: 3px;
                    }
                }
                
                &:hover {
                    .contributor-inner {
                        height: 100%;
                        
                        h6 { bottom: 25px; }
                    }
                }
            }
            
            @include breakpoint(desktop) {
                margin: 0 0 25px;
                
                &.last {
                    float: none;
                    margin: 0 auto;
                }
                
                .contributor-inner { margin: 0 2% 8px; }
            }
            
            @include breakpoint(tablet mobile) {
                margin: 0 0 25px;
                
                &.last { margin: 0; }
                
                .contributor-inner {
                    height: 100%;
                    margin: 0 1% 8px;
                    
                    .contributor-hover {
                        margin: 10px 0 25px;
                        overflow: hidden;
                    }
                    
                    h6 { bottom: 10%; }
                }
            }
        }
    }

    .big-page-link {
        margin: 40px 0 0;
        
        .page-link {
            background: url($history-sub-wac) no-repeat center top;
            background-size: cover;
            text-align: center;
            @include row();
            
            .no-bg-size { display: none; }
            
            @include nope(backgroundsize) {
                background: none;
                position: relative;
                
                .no-bg-size {
                    display: block;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: -1;
                }
            }
            
            .page-link-inner {
                color: #fff;
                border: 1px solid #fff;
                display: block;
                margin: 10px;
                padding: 60px 0;
                z-index: 1;
                
                h4 {
                    font-family: $droid-serif;
                    padding: 50px 0 40px;
                }
                
                .button a {
                    background: transparent;
                    color: #fff;
                    line-height: 30px;
                    padding: 0 15px;
                    
                    &:hover {
                        background-color: #fff;
                        color: $dark_blue;
                    }
                }
            }
        }
    }

    .pre-float {
        float: left;
        width: 54%;
        @include breakpoint(tablet mobile) {
            float: none;
            width: auto;
        }
    }
    .clear-left {
        clear: left;
    }

    .did-you-know {
        border: 1px solid $gold3;
        margin: 35px auto 25px;
        padding: 35px 25px 0;
        position: relative;

        &.float-right {
            float: right;
            margin: 15px 0 10px 5%;
            width: 30%;
        }
        &.float-right-full {
            display: none;
        }
        @include breakpoint(tablet mobile) {
            margin: 50px auto 40px;
            &.float-right {
                display: none;
            }
            &.float-right-full {
                display: block;
            }
        }

        .know-heading {
            left: 0;
            position: absolute;
            text-align: center;
            top: -14px;
            width: 100%;

            @include old-ie() {
                padding: 5px 0;
                top: -16px;
            }

            span {
                background: $background;
                border: 1px solid $gold3;
                color: $red;
                letter-spacing: .05em;
                padding: 5px 30px;
                
                @include header6();
            }
        }

        .image {
            background: #000;
            float: left;
            position: relative;
            height: 205px;
            margin: 0 4% 25px 0;
            overflow: hidden;
            width: 170px;

            @include breakpoint(mobile) {
                float: none;
                margin: 0 auto 25px;
                max-width: 140px;
                text-align: center;
                width: auto;
            }

            img {
                position: absolute;
                top: -2000px;
                bottom: -2000px;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                @include old-ie() {
                    top: 0;
                    bottom: auto;
                }
            }
        }

        p {
            font: 400 1.267em/1.3em $src-sans-pro;
            margin: 0 0 25px;
            text-align: center;
            line-height: 24px;
            
            &.left {
                text-align: left;
            }
            
            .bold {
                font-weight: 700;
            }
            .bigger {
                font-size: 1.3em;
            }
            .italic {
                font-style: italic;
            }
        }
        
        .button a {
            line-height: 30px;
            margin: 0 0 25px;
            padding: 0 15px;
        }
    }
    
    .image-mosaic {
        @include row();
        height: 0;
        margin: 25px 0;
        padding: 40% 0 0;
        position: relative;

        .image-tile {
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 49%;

            p { display: none; }

            img {
                bottom: -2000px;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: -2000px;
                width: 100%;
            }

            .view-larger {
                background: $dark_blue;
                bottom: 0;
                height: 40px;
                position: absolute;
                right: 0;
                width: 40px;
                
                span {
                    @include bg-sprite(-379px 0);
                    height: 30px;
                    left: 5px;
                    position: absolute;
                    top: 5px;
                    width: 30px;
                }
            }
        }
        .tile-1 {
            left: 0;
        }
        .tile-2,
        .tile-3 {
            right: 0;
        }
        .tile-inner {
            background: #000;
            display: block;
            height: 100%;
            line-height: 0;
            overflow: hidden;
            position: relative;
        }
    } // end image-mosaic
    .image-mosaic.mosaic-3 {
        padding-top: 48%;
        .tile-1 {
            width: 62%;
        }
        .tile-2,
        .tile-3 {
            width: 36%;
            height: 48%;
        }
        .tile-3 {
            bottom: 0;
            top: auto;
        }
    } // end image-mosaic 3
    
    .image-mosaic.mosaic-4 {
        padding-top: 80%;
        
        .image-tile {
            height: 49%;
            
            &.tile-3, &.tile-4 {
                bottom: 0;
                top: auto;
            }
            
            &.tile-3 {
                left: 0;
            }
            
            &.tile-4 {
                right: 0;
            }
        }
    } // end image-mosaic 4

    @include old-ie() {
        .image-mosaic,
        .image-mosaic.mosaic-3,
        .image-mosaic.mosaic-4 {
            padding: 0;
            height: auto;
            .image-tile {
                height: auto;
                position: static;
                float: left;
                img {
                    position: static;
                    display: block;
                }
            }
            .tile-2,
            .tile-3,
            .tile-4 {
                float: right;
            }
        }
        .image-mosaic.mosaic-3 .tile-2,
        .image-mosaic.mosaic-4 .tile-1,
        .image-mosaic.mosaic-4 .tile-2 {
            margin-bottom: 2%;
        }
        .image-mosaic.mosaic-4 .tile-3 {
            clear: both;
            float: left;
        }
    }
     
    .outer-mosaic-container {
        clear: left;
        margin: 0 10px;
    }
     
    @include breakpoint(mobile) {
        .image-mosaic,
        .image-mosaic.mosaic-3,
        .image-mosaic.mosaic-4{
            height: auto;
            padding-top: 0;
            .image-tile {
                position: relative;
                &.tile-1,
                &.tile-2,
                &.tile-3,
                &.tile-4 {
                    width: 100%;
                    margin: 20px 0 0;
                }
                &.tile-1 {
                    margin: 0;
                }
                img {
                    position: relative;
                    top: auto;
                    bottom: auto;
                }
                
                p {
                    display: block;
                    font: 400 1em/1.3em $src-sans-pro;
                    margin: 10px 0 0;
                }
                
                .view-larger { display: none; }
            }
        }
    }
}


