$path: '/e2/rv5_images/women/';
$yt-path: '/e2/rv5_images/youtube_player/';

$battle3: $path + 'battle.jpg';

$sprite-svg: $path + "graphics/sprite.svg";
$sprite-png: $path + "graphics/sprite.png";

// SVG Logo
$army-star: $path + "graphics/army_star.svg";
$army-star-2x: $path + "graphics/army_star_2x.png";

// lightbox
$lightbox-background: $path + "graphics/bg.png";

// play icon
$play-svg: $path + "graphics/play.svg";
$play-2x: $path + "graphics/play_2x.png";
$play-hover-2x: $path + "graphics/play_hover_2x.png";
$play-hover-svg: $path + "graphics/play_hover.svg";

// download icon
$download: $path + "graphics/download.svg";
$download-2x: $path + "graphics/download_2x.png";

// social media
$facebook-png: $path + "graphics/facebook_2x.png";
$facebook-hover-png: $path + "graphics/facebook_hover_2x.png";
$twitter-png: $path + "graphics/twitter_2x.png";
$twitter-hover-png: $path + "graphics/twitter_hover_2x.png";
$googleplus-png: $path + "graphics/googleplus_2x.png";
$googleplus-hover-png: $path + "graphics/googleplus_hover_2x.png";
$pinterest-png: $path + "graphics/pinterest_2x.png";
$pinterest-hover-png: $path + "graphics/pinterest_hover_2x.png";

// mastheads:
$mastheads: $path + "masthead/480.jpg", $path + "masthead/768.jpg", $path + "masthead/992.jpg", $path + "masthead/1900.jpg", $path + "masthead/2500.jpg";

// for now...
//$masthead-profile: $path + "profiles.jpg";
//$masthead-history: $path + "profiles.jpg";
//$masthead-intro: $path + "profiles.jpg";

$history-sub-pilots: $path + "history/pilots_readmore.jpg";
$history-sub-wac: $path + "history/wac_readmore.jpg";


