@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

// keep this -- might want to add a video player lightbox later
//$max-video-width: 1280;
//$margin: 20;

$max-width: 992;
$margin: 20;

#lightbox {
    display: none;
    left: 0;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
    
    &.is-visible { display: block; }
    
    @include yep(rgba) {
        background-color: transparentize(#000, 0.1);
    }
    
    @include nope(rgba) {
        background-image: url($lightbox_background);
        background-repeat: repeat;
    }
    
    .container {
        background: $background;
        bottom: auto;
        left: 20px;
        margin: auto;
        max-width: $max-width;
        position: absolute;
        right: 20px;
        top: 100px;
        width: auto;
        
        // animation time
        
        &.fade-in-up {
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
        }
        
        &.fade-out-up {
            -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
        }
        
        -webkit-animation-duration: .7s;
        animation-duration: .7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        
        // end animation time
        
        @media (min-width: #{$max-width + ($margin * 2) + 'px'}) {
            left: 50%;
            margin: 0 0 0 #{($max-width / 2 * -1) + 'px'};
            right: auto;
            width: #{$max-width + 'px'};
        }
        
        @include old-ie() {
            left: auto;
            margin: 0 auto;
            position: relative;
            right: auto;
        }
        
        h3 {
            color: $light_gray;
        }
        
        h5 {
            color: $gold1;
            text-transform: uppercase;
        }
        
        h3, h5 { margin: 0; }
        
        .header {
            background: $red;
        }
        
        .header, .inner-container {
            padding: 20px;
        }
        
        .inner-container {
            margin: 0 0 80px;
            
            img {
                float: left;
                margin: 0 20px 0 0;
                max-height: 320px;
                max-width: 320px;
                width: 42%;
            }
            
            p, ul { text-align: left; }
            
            ul {
                font: 400 15px/1.733em $src-sans-pro;
                list-style: inside disc;
                
                li a {
                    color: $red;
                    &:hover {
                        border-bottom: 1px solid $red;
                    }
                }
            }
        }
        
        a.close {
            @include bg-sprite(-123px 0);
            height: 20px;
            margin: 20px;
            position: absolute;
            right: 0;
            text-indent: -9999px;
            top: 0;
            width: 20px;
            z-index: 1;
            
            @include nope(svg) {
                height: 22px;
                width: 22px;
            }
        }
        
        &.spotlight { display: none; }
        
        &.no-bg {
            background: transparent;
            display: none;
            
            .lb-button {
                margin: -7px 0 0;
                position: fixed;
                top: 50%;
                z-index: 1;
                
                &#next {
                    right: 20px;
                    
                    span {
                        @include bg-sprite(-106px 0);
                    }
                }
                
                &#prev {
                    left: 20px;
                    
                    span {
                        @include bg-sprite(-106px -14px);
                    }
                }
                
                span {
                    display: inline-block;
                    height: 14px;
                    width: 16px;
                }
            }
            
            .inner-container {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 60px 0 0;
                text-align: center;
                
                img {
                    
                    float: none;
                    margin: 0;
                    max-height: 600px;
                    max-width: 100%;
                    width: auto;
                }
                
                p {
                    color: #fff;
                    font: 400 1em/1.3em $src-sans-pro;
                    text-align: center;
                }
            }
        }
        
        @include breakpoint(tablet mobile) {
            bottom: auto;
            left: 0;
            right: 0;
            top: 0;
        }
        
        @include breakpoint(tablet) {
            &.no-bg {
                .inner-container {
                    img {
                        max-height: 400px;
                    }
                }
            }
        }
        
        @include breakpoint(mobile) {
            h3 { font: 700 1.467em/1.5em $lato; }
            h5 { font: 700 1.200em/1.3em $droid-serif; }
            .lead-p { font: 700 1.200em/1.5em $lato; }
            
            &.no-bg {
                .inner-container {
                    img {
                        max-height: 320px;
                    }
                }
            }
            
            .inner-container {
                text-align: center;
                
                img {
                    float: none;
                    margin: 0 auto 25px;
                    max-height: inherit;
                    max-width: 460px;
                    width: 100%;
                }
            }
        }
    }
    // image lightbox specific
    &.image-lb {
        .container {
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 2500px;
            right: 0;
            top: 0;
            width: 100%;
            
            .inner-container {
                position: absolute;
                padding: 0;
                margin: 100px 40px;
                width: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                
                .lb-img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    span.full-height {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                    }
                    
                    img {
                        max-width: 100%;
                        max-height: 100%;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                .image-loading {
                    height: 50px;
                    left: 50%;
                    margin: -25px 0 0 -25px;
                    position: absolute;
                    top: 50%;
                    width: 50px;
                    z-index: 20000000;
                }
                p {
                    position: absolute;
                    width: 94%;
                    margin: 0 3%;
                    bottom: -75px;
                    left: 0;
                }
            }
            @include old-ie() {
                height: 100%;
                max-width: none;
                .inner-container .lb-img img {
                    position: relative;
                }
            }
            
            &.no-bg {
                .lb-button {
                    top: 10%;
                    height: 80%;
                    width: 30%;
                    span {
                        display: block;
                        position: absolute;
                        top: 50%;
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }
                    &#prev {
                        left: 0;
                        span {
                            left: 17px;
                        }
                    }
                    &#next {
                        right: 0;
                        span {
                            right: 17px;
                        }
                    }
                }
            }
            
            @include breakpoint(mobile) {
                .inner-container {
                    margin: 0 30px;
                    
                    p { display: none; }
                }
                
                &.no-bg .lb-button {
                    &#prev { left: -10px; }
                    &#next { right: -10px; }
                }
            }
        } // end .container
    } // end .image-lb
}

