$mobile: 480px;
$tablet: 768px;
$extra: 860px;
$desktop: 992px;
$xl: 1200px;

$image-sizes: 480px, 768px, 992px, 1200px, 1400px;

@mixin breakpoint($points){
    @each $point in $points{
        @include do_breakpoint(#{$point}) {
            @content;
        }
    }
}

@mixin do_breakpoint($point){
    @if $point == mobile {
        //480 and below
        @media (max-width: $mobile){ @content; }
    }
    @else if $point == tablet {
        // 481 - 768
         @media (min-width: $mobile + 1) and (max-width: $tablet) { @content; }
    }
    @else if $point == extra {
        // 769 - 860
         @media (min-width: $tablet + 1) and (max-width: $extra) { @content; }
    }
    @else if $point == desktop {
        // 769 - 992
        @media (min-width: $tablet + 1) and (max-width: $desktop){ @content; }
    }
    @else if $point == large {
        // 993 - 1200
        @media (min-width: $desktop + 1) and (max-width: $xl) { @content; }
    }
    @else if $point == xl {
        // 1201 and above
        @media (min-width: $xl + 1) { @content; }
    }
}

@mixin masthead($size) {
    @if $size == 1 {
        @media (max-width: nth($image-sizes, 1)) {
            @content;
        }
    }
    @else if $size == 2 {
        @media (min-width: nth($image-sizes, 1)) and (max-width: nth($image-sizes, 2)) {
            @content;
        }
    }
    @else if $size == 3 {
        @media (min-width: nth($image-sizes, 2)) and (max-width: nth($image-sizes, 3)) {
            @content;
        }
    }
    @else if $size == 4 {
        @media (min-width: nth($image-sizes, 3)) and (max-width: nth($image-sizes, 4)) {
            @content;
        }
    }
    @else if $size == 5 {
        @media (min-width: nth($image-sizes, 4)) {
            @content;
        }
    }
}

