@mixin bg-sprite($pos) {
    @include yep(svg) {
        background: url($sprite-svg) no-repeat $pos;
    }
    @include nope(svg) {
        background: url($sprite-png) no-repeat $pos;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    transform: $args;
}

@mixin delay($args...) {
    -webkit-transition-delay: $args;
    -moz-transition-delay: $args;
    -o-transition-delay: $args;
    transition-delay: $args;
}

// keep?
@mixin flex() {
    // https://css-tricks.com/using-flexbox/
    display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6
    display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works)
    display: -ms-flexbox;      // TWEENER - IE 10
    display: -webkit-flex;     // NEW - Chrome
    display: flex;             // NEW, Spec - Opera 12.1, Firefox 20+
}

@mixin no-transition() {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    @include transition(none);
    opacity: 0;
}

@mixin link-underline() {
    &:hover, &:focus {
        text-decoration: underline;
    }
}

$old-ie: false !default;

@mixin old-ie {
    // Only use this content if we're dealing with old IE
    @if $old-ie {
        @content;
    }
}

@mixin Opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}