.nav-container {
    height: 65px;
}

nav {
    background: $gold4;
    border-bottom: 5px solid $gold4;
    bottom: 0;
    max-height: 60px;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden; // android has an issue with fixed position elements
    z-index: 11;
    
    @include transition(top .25s ease 0s, max-height .25s linear 0s);
    
    @include old-ie() {
        overflow: hidden;
        width: 100%;
    }
    
    ul {
        font: 400 1.133em/3.667em $lato;
        list-style: none;
        
        li {
            display: inline-block;
            zoom: 1;
            *display: inline;
            height: 60px;
            margin: 0 20px 0 0;
            
            &.last { margin: 0; }
            
            a {
                color: $light_gray;
                display: inline-block;
                text-transform: uppercase;
                
                @include transition(none 0s);
                
                &.show-menu {
                    padding: 0 35px 0 10px; // increase click space over plus sign
                    position: relative;
                    
                    span {
                        @include bg-sprite(-405px -31px);
                        height: 14px;
                        position: absolute;
                        right: 10px;
                        top: 25px;
                        width: 13px;
                    }
                    
                    @include yep(csstransforms3d) {
                        span { display: none; }
                        
                        *,
                        *:before,
                        *:after {
                            @include transform(translate3d(0,0,0));
                        }
                        
                        &:after, &:before {
                            background: $light_gray;
                            content: '';
                            position: absolute;
                            @include transition(transform .25s ease 0s);
                        }
                        
                        &:after {
                            height: 13px;
                            right: 15px;
                            top: 25px;
                            width: 3px;
                        }
                        
                        &:before {
                            height: 3px;
                            right: 10px;
                            top: 30px;
                            width: 13px;
                        }
                    }
                }
            }
            
            &.active, &:hover {
                border-bottom: 5px solid $gold3;
            }
            
            @include old-ie() {
                &.active, &:hover {
                    border: none;
                }
            }
            
            &.no-hover:hover {
                border-bottom: none;
            }
        }
        
        @include breakpoint(mobile) {
            font: 400 1.067em/3.9em $lato;
            
            li {
                margin: 0 10px 0 0;
            }
        }
    } // end ul
    
    .sub-nav-container {
        background: $black_gray;
        max-height: 0;
        overflow: hidden;
        text-align: left;
        
        @include transition(max-height .25s linear 0s);
        
        ul {
            font: 400 1em/1.3em $lato;
            list-style: none;
            margin: 0 auto;
            max-width: $desktop;
            overflow: hidden;
            padding: 70px 0;
            
            li {
                @include span(4);
                height: auto;
                margin: 0 0 10px;
                
                @include old-ie() {
                    width: 30.31%;
                }
                
                a {
                    display: block;
                    padding: 10px;
                    position: relative;
                    
                    @include transition(background .25s linear 0s);
                    
                    &:hover { background: $black; }
                }
                
                h5 {
                    color: $gold2;
                    font: 700 1em/1.3em $droid-serif;
                    margin: 0 0 5px;
                }
                
                span {
                    font: 400 1.067em/1.3em $lato;
                }
                
                &:hover {
                    border-bottom: none;
                }
            }
            
            @include breakpoint(tablet) {
                padding: 60px 0;
            }
            
            @include breakpoint(mobile) {
                padding: 50px 0;
            }
        }
    } // end .sub-nav-container
    
    &.open, &.open .sub-nav-container {
        max-height: 500px;
        overflow: hidden;
    }
    
    &.open a.show-menu {
        span {
            @include bg-sprite(-418px -31px);
            top: 30px;
        }
        
        @include yep(csstransforms3d) {
            span { display: none; }
            
            &:after, &:before {
                @include transform(translateX(0) rotateX(0));
            }
            
            &:after {
                @include transform(rotate(90deg));
            }
            
            &:before {
                @include transform(rotate(180deg));
            }
        }
    }
    
    @include breakpoint(tablet mobile) {
        &.open, &.open .sub-nav-container {
            max-height: 900px;
            overflow: auto;
        }
        
        .sub-nav-container ul li { @include span(12); }
    }
}




