@import 'owl_carousel';

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    height: 90%;
    margin: 0;
    position: absolute;
    text-indent: -99999px;
    top: 0;
    width: 50px;
    
    span {
        display: block;
        width: 16px;
        height: 14px;
        margin: -7px 0 0 -8px;
        top: 50%;
        left: 50%;
        position: absolute;
        @include bg-sprite(-106px -14px);
    }
    &.owl-prev {
        left: -50px;
    }
    &.owl-next {
        right: -50px;
        span {
            background-position: -106px 0;
        }
    }
    &.disabled {
        display: none;
    }
    
    @include breakpoint(tablet mobile) {
        display: none;
    }
}

/* Styling Pagination*/

.owl-theme .owl-controls {
    margin-top: 50px;
    text-align: center;

    @include breakpoint(tablet) {
        margin-top: 40px;
    }
    
    @include breakpoint(mobile) {
        margin-top: 30px;
    }
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    border: 1px solid #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: $red;
}
.owl-theme .owl-controls .owl-page:nth-child(n+2) span::after{
    border-top: 1px solid #ffffff;
    content: "";
    display: block;
    right: 15px;
    position: relative;
    top: 6px;
    width: 14px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: $gold1;
}

.owl-pagination {
    height: 0;
}

/* Styling for Womens pages specifically */

.slider-container {
    color: #fff;
    position: relative;
    max-width: $container;
    margin: 0 auto;

    a {
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    &.slider-2 {
        max-width: 660px;
    }
    &.slider-1 {
        max-width: 330px;
    }
    
    @media (min-width: 660px) and (max-width: 980px) {
        max-width: 660px;
    }
    
    @media (max-width: 659px) {
        max-width: 330px;
        
        &.slider-2 {
            max-width: 330px;
        }
    }
    
    .owl-item{
        min-height: 400px;
    }

    .slide {
        border: 1px solid #fff;
        background: $red;
        margin: 0 4% 0;
        @include old-ie() {
            width: 92%;
        }
        position: relative;

        &.has-date {
            margin: 20px 4% 0;
        }

        @include yep(preserve3d) {
            -webkit-transform-origin: center center 0;
            -webkit-transform-style: preserve-3d;
            -ms-transform-origin: center center 0;
            -ms-transform-style: preserve-3d;
            transform-origin: center center 0;
            transform-style: preserve-3d;
            transition: transform 0.5s ease 0s;
            
            figure {
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
            }
        }

        figure {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: $red;
            @include nope(preserve3d) {
                z-index: 2;
                position: relative;
            }
        }
        figure.back {
            @include yep(preserve3d) {
                @include transform(rotateY(180deg));
            }
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            .date {
                z-index: 1;
            }
            
            .flip-btn span {
                @include bg-sprite(-145px -16px);
            }
        }

        &.flipped {
            @include yep(preserve3d) {
                @include transform(translateX(0) rotateY(-180deg));
                // transform: translateX(-100%) rotateY(-180deg);
            }
            
            @include nope(preserve3d) {
                figure.back {
                    z-index: 3;
                }
            }
        }
        .flip-btn {
            bottom: 4px;
            cursor: pointer;
            font: 700 1em/1.3em $src-sans-pro;
            padding: 3px 23px 3px 15px;
            position: absolute;
            right: 8px;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;

            span {
                @include bg-sprite(-145px 0);
                display: inline-block;
                height: 16px;
                position: absolute;
                right: 0;
                top: 5px;
                width: 18px;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
            }
        }

        .image {
            background-color: #ffffff;
            padding-top: 70%;
            height: 0;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: -2000px;
                bottom: -2000px;
                left: 0;
                right: 0;
                margin: auto;
                width: 100%;
                z-index: 0;

                @include old-ie() {
                    top: 0;
                    bottom: auto;
                }
            }
        }
        .date {
            background: $red;
            border: 1px solid #fff;
            font: 700 1.5em/1em $droid-serif;
            left: 50%;
            margin: 0 0 0 -66px;
            padding: 6px 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: -21px;
            width: 130px;
            z-index: 1;
        }
        .content {
            padding: 25px 23px 20px;
            p {
                font: 400 1em/1.5em $src-sans-pro;
                margin: 0 0 25px;
                text-align: left;
                &.title {
                    color: $gold2;
                    font: 700 1em/1.5em $droid-serif;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
            li {
                font: 400 1em/1.3em $src-sans-pro;
                list-style-position: outside;
                margin: 3px 0 7px 5px;
            }
        }
        
        figure.back .content {
            padding: 35px 23px 20px;
        }
    }
}


