#profiles-list {
    .container {
        @include breakpoint(desktop) {
            margin: 70px auto;
            max-width: 670px;
            
            .profile { height: auto; }
        }
        @include breakpoint(tablet mobile) {
            margin: 60px auto;
            max-width: 330px;
            
            .profile { height: auto; }
        }
    }
    
    .inner-container {
        @include row();
        margin: 0;
    }
    
    .profile {
        @include span(4);
        height: 320px;
        margin: 0 0 25px;
        max-width: 320px;
        overflow: hidden;
        position: relative;
        
        @include breakpoint(desktop) {
            @include span(6);
        }
        
        @include breakpoint(tablet mobile) {
            @include span(12);
        }
        
        &.veteran { display: none; }
        
        img { width: 100%; }
        
        .profile-inner {
            bottom: 0;
            height: 110px;
            left: 0;
            margin: 0 3% 8px;
            overflow: hidden;
            position: absolute;
            right: 0;
            z-index: 1;
            
            @include transition(height .25s linear 0s);
            
            @include yep(rgba) {
                background: transparentize($black, .3);
            }
            
            @include nope(rgba) {
                background: $black;
            }
            
            .profile-m {
                margin: 9.5%;
                overflow: hidden;
            }
            
            h4, h6 a { color: #fff; }
            
            h4 {
                overflow: hidden;
                
                &.sm {
                    font-size: 1.3em;
                    line-height: 1.7em;
                }
            }
            
            h6 {
                bottom: -75%;
                margin: 0;
                position: absolute;
                text-transform: uppercase;
                
                @include transition(bottom .25s linear 0s);
                
                span {
                    @include bg-sprite(-106px 0);
                    height: 14px;
                    margin: 0 0 0 10px;
                    width: 16px;
                }
            }
            
            p.accent-font {
                color: $gold2;
                margin: 0 0 5px;
                text-transform: uppercase;
            }
            
            span {
                background: $gold4;
                display: inline-block;
                height: 5px;
                margin: 15px 0 0;
                width: 80px;
            }
            
            .profile-subtitle {
                color: $gold1;
                @include sans_p();
                margin: 10px 0 0;
                position: relative;
                text-align: left;
            }
            
            .lb-content { display: none; }
        } // end profile-inner
        
        @include breakpoint(desktop large xl) {
            &:hover {
                .profile-inner {
                    height: 100%;
                    
                    h6 { bottom: 25px; }
                }
            }
        }
        
        @include old-ie() {
            max-width: 310px;
            
            .profile-inner {
                height: 108px;
                
                h4 { font-size: 1.5em; }
                
                h6 span {
                    position: absolute;
                    top: 3px;
                }
            }
            
            &:hover {
                .profile-inner {
                    height: 100%;
                    
                    h6 { bottom: 25px; }
                }
            }
        }
        
        @include breakpoint(desktop) {
            .profile-inner { margin: 0 2% 8px; }
        }
        
        @include breakpoint(tablet mobile) {
            .profile-inner {
                height: 100%;
                margin: 0 1% 8px;
                
                .profile-subtitle {
                    margin: 10px 0 25px;
                    height: 85px;
                    overflow: hidden;
                }
                
                h6 { bottom: 10%; }
            }
        }
    }
}


