@mixin row{
    display: block;
    width: 100%;
    overflow: hidden;
}

$num_cols : 12;
$base_container : 992;
$base_span_padding : 10;

$lb_base_container : 620;
$lb_base_span_padding : 10;

@mixin span($columns)
{
    $start_width: $columns / $num_cols;
    $padding_width: $base_span_padding / $base_container * 2;
    width: percentage($start_width - $padding_width);
    float: left;
    padding-left: percentage($base_span_padding/$base_container);
    padding-right: percentage($base_span_padding/$base_container);
}

@mixin offset($columns)
{
    $start_width: $columns / $num_cols;
    $padding_width: $base_span_padding / $base_container * 2;
    $width: percentage($start_width - $padding_width);
    $padding: percentage($base_span_padding / $base_container * 2);
    margin-left: $width + $padding;
}

@mixin lightbox_span($columns)
{
    $start_width: $columns / $num_cols;
    $padding_width: $lb_base_span_padding / $lb_base_container * 2;
    width: percentage($start_width - $padding_width);
    float: left; 
    padding-left: percentage($lb_base_span_padding/$lb_base_container);
    padding-right: percentage($lb_base_span_padding/$lb_base_container);
}

.row {
    @include row();
}

@for $i from 1 through $num_cols {
    .span#{$i} { @include span($i); }
}


