.yt-container {
    background-color: $red;
    color: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    @include old-ie {
        min-width: 768px;
    }
    
    .filler {
        height: 100px;
    }
    #yt-overlay, #playlist-overlay {
        background-color: #CCC;
        height: 100%;
        left: 0;
        @include Opacity(0.7);
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    #playlist-overlay {
        display: none;
    }
    
    .yt-player {
        float: left;
        position: relative;
        width: 60%;
        z-index: 1;
        
        @include breakpoint(tablet mobile) {
            float: none;
            width: 100%;
        }
        
        .iframe-embed-container {
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
            padding-top: 30px;
            
            iframe {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
    
    .yt-playlist {
        border-right: 1px solid $red;
        display: none;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        @include breakpoint(tablet mobile) {
            position: relative;
            width: 100%;
        }
        
        .playlist-info {
            height: 92px;
            padding: 4px 5%;
            position: relative;
            
            @include breakpoint(tablet mobile) {
                cursor: pointer;
                height: auto;
                padding: 20px 5%;
            }
            
            h4 {
                font: 700 1.267em/1.3em $lato;
                margin: 10px 0 0;
                text-align: left;
                
                @include breakpoint(tablet mobile) {
                    margin: 0;
                }
            }
            .author {
                border-bottom: 2px solid $gold1;
                padding: 0 0 10px;
                text-align: left;
                
                @include breakpoint(tablet mobile) {
                    border-bottom-width: 0;
                }
                
                a, span {
                    color: $gold1;
                    font: 400 .867em/1.3em $droid-serif;
                }
            }
            .expand {
                @include bg-sprite(-125px -28px);
                bottom: 0;
                display: none;
                height: 10px;
                margin-top: -5px;
                position: absolute;
                right: 5%;
                top: 50%;
                width: 18px;
                
                @include breakpoint(tablet mobile) {
                    display: block;
                }
            }
        }
        
        &.show {
            ul {
                @include breakpoint(tablet mobile) {
                    display: block;
                }
            }
            .expand {
                @include bg-sprite(-106px -28px);
            }
        }
        ul {
            background: $red;
            border-bottom: 1px solid $red;
            bottom: 0;
            font: 400 1em/1.3em $lato;
            left: 0;
            list-style: none;
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            text-align: left;
            top: 100px;
            width: 100%;
            
            &::-webkit-scrollbar {
                width: 12px;
            }
            &::-webkit-scrollbar-track {
                background-color: $red;
                border-left: 1px solid $gold1;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $gold1;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: $gold1;
            }
            
            @include breakpoint(tablet mobile) {
                display: none;
                max-height: 400px;
                position: static;
            }
            
            li {
                font: 400 1.067em/1.3em $lato;
                padding: 10px 0;
                
                @include old-ie() {
                    display: inline;
                    float: left;
                    min-height: 40px;
                    width: 100%;
                }
                
                .v-position, .v-play-icon {
                    color: $gold1;
                    display: inline-block;
                    float: left;
                    font-weight: 700;
                    margin: 0 2%;
                    padding: 8px;
                    text-align: center;
                    width: 20px;
                    
                    @include yep(borderradius) {
                        border: 1px solid rgb(255, 246, 217);
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        margin: 0 5%;
                    }
                }
                
                .v-play-icon {
                    display: none;
                    
                    span {
                        @include bg-sprite(-125px -39px);
                        display: inline-block;
                        height: 10px;
                        margin: 0 0 1px 2px;
                        width: 10px;
                        
                        @include nope(svg) {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
                
                .v-title {
                    display: inline-block;
                    width: 75%;
                }
                
                &:hover, &:focus, &.current {
                    background: darken($red, 5);
                    color: $gold1;
                    cursor: pointer;
                    
                    .v-play-icon { display: inline-block; }
                    .v-position { display: none; }
                }
                
                &.playing {
                    .v-play-icon span {
                        @include bg-sprite(-106px -39px);
                        height: 15px;
                        margin: 2px 0 -2px;
                        width: 18px;
                    }
                }
            }
        }
    }
}