@import 'reset';
@import 'modernizr';
@import 'images';
@import 'mixins';
@import 'media_queries';
@import 'spans';
@import 'colors';
@import 'fonts';
@import 'defaults';
@import 'footer';
@import 'lightbox';
@import 'header';
@import 'profiles';
@import 'owl_theme';
@import 'history';
@import 'youtube';

.masthead-buffer {
    height: 65px;
}

.masthead-container {
    padding: 0 0 41.667%; // 500px tall at 1200px wide
    position: relative;
    text-align: center;
    width: 100%;
    
    div {
        left: 0;
        position: absolute;
        top: 37%;
        width: 100%;
        z-index: 1;
    }
    
    h1 {
        border: 1px solid $gold3;
        color: $gold1;
        display: inline-block;
        zoom: 1;
        *display: inline;
        text-transform: uppercase;
        padding: 10px 25px;
        
        @include breakpoint(mobile) {
            font: 700 3.467em/1.3em $src-sans-pro;
//            border: 0 none;
        }
    }
    
    @include breakpoint(xl) {
        height: 500px;
        padding: 0;
    }
    
    @include breakpoint(tablet mobile) {
        height: 320px;
        padding: 0;
        
        .full-width-image {
            text-align: center;
        }
    }
    
    @include old-ie() {
        height: 500px;
        padding: 0;
    }
    
    .full-width-image {
        background-color: $background;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        margin: 0 auto;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        
//        &#profiles {
            background-position: center 34%;
            // default image
            background-image: url(nth($mastheads, 5));
            @each $img in $mastheads {
                $i: index($mastheads, $img);
                @include masthead($i) {
                    background-image: url($img);
                }
            }
            
            // css preload images
//            &::after {
//                content: url(nth($mastheads, 5)) url(nth($mastheads, 4)) url(nth($mastheads, 3)) url(nth($mastheads, 2)) url(nth($mastheads, 1));
//                left: -10000px;
//                position: absolute;
//            }
//        }
        
//        &#history {
//            background-image: url($masthead-history);
//            background-position: center 34%;
//
//            &::after {
//                content: url(nth($mastheads, 5)) url(nth($mastheads, 4)) url(nth($mastheads, 3)) url(nth($mastheads, 2)) url(nth($mastheads, 1));
//                left: -10000px;
//                position: absolute;
//            }
//        }
//
//        &#intro {
//            background-image: url($masthead-intro);
//            background-position: center 34%;
//
//            &::after {
//                content: url(nth($mastheads, 5)) url(nth($mastheads, 4)) url(nth($mastheads, 3)) url(nth($mastheads, 2)) url(nth($mastheads, 1));
//                left: -10000px;
//                position: absolute;
//            }
//        }
    }
    
    .no-bg-size { display: none; }
    
    @include nope(backgroundsize) {
        overflow: hidden;
        
        .full-width-image { background: none; }
        
        .no-bg-size {
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}


.container {
    margin: 0 auto;
    max-width: $desktop;
    overflow: hidden;
}

.main {
    position: relative;
    
    @include old-ie() {
        overflow: hidden;
    }
    
    h2 {
        margin: 0 0 25px;
        text-align: center;
        
        &::after {
            background-color: $gold3;
            content: '';
            display: block;
            height: 5px;
            margin: 14px auto;
            width: 60px;
        }

        &.no-date {
            margin: 0 0 70px;
        }
    }
    .sub-heading2 {
        font: 700 1.4em/1.3em $lato;
        color: $red;
        text-align: center;
        margin: 0 0 70px;
        
        @include breakpoint(mobile) {
            margin: 0 0 50px;
        }
    }
    
    .button {
        text-align: center;
        
        a {
            border: 1px solid $light_gray;
            background-color: $dark_blue;
            color: $light_gray;
            display: inline-block;
            font: 700 .938em/3.333em $lato;
            padding: 0 30px;
            text-transform: uppercase;
            
            &:hover {
                background-color: $light_gray;
                border: 1px solid $dark_blue;
                color: $dark_blue;
            }
        }
    }

    .container {
        margin: 70px auto;
        
        @include breakpoint(tablet) {
            margin: 60px 0;
        }
        @include breakpoint(mobile) {
            margin: 50px 0;
        }
        
        .inner-container {
            margin: 0 10px;
        }
        
    }
        
    p {
        &.hidden-mobile {
            @include breakpoint(tablet mobile) {
                display: none;
            }
        }
    }
    
    #quote {
        @include row;
        text-align: center;
        
        q {
            display: block;
            font: 400 1.333em/1.75em $droid-serif;
            margin: 0 auto 25px;
            position: relative;
            width: 83%;
            
            span { display: none; }
            
            @include nope(generatedcontent) {
                span { display: inline-block; }
            }
            
            &:before, &:after,
            span.before, span.after {
                position: absolute;
            }
            
            &:before, span.before {
                @include bg-sprite(-164px 0);
                content: '';
                height: 60px;
                left: -83px;
                top: 0;
                width: 82px;
            }
            
            &:after, span.after {
                @include bg-sprite(-246px 0);
                bottom: 0;
                content: '';
                height: 60px;
                right: -83px;
                width: 82px;
            }
            
            @include breakpoint(tablet mobile) {
                &:before, span.before {
                    left: -50px;
                }
                
                &:after, span.after {
                    right: -50px;
                }
            }
        }
        
        p {
            font: italic 400 1.333em/1.3em $droid-serif;
            text-align: center;
            
            &:last-child, &.tall {
                line-height: 2.125em;
            }
        }
        
        @include breakpoint(tablet) {
            q {
                font: 400 1.133em/1.75em $droid-serif;
            }
            p {
                font: italic 400 1.133em/1.3em $droid-serif;
            }
        }
        
        @include breakpoint(mobile) {
            q {
                font: 400 1.067em/1.75em $droid-serif;
            }
            p {
                font: italic 400 1.067em/1.3em $droid-serif;
            }
        }
    }
    
    #army-news, #army-videos, #army-resources {
        @include row();
        text-align: center;
        
        h2 { margin: 0 0 40px; }
    }
    
    #army-news {
        background: $dark_blue;
        
        h2 { color: #fff; }
        
        .item-wrap {
            @include span(12);
            margin: 0 0 25px;
            
            @include breakpoint(tablet mobile) {
                float: none;
                margin: 0;
                width: auto;
            }
            
            @include breakpoint(mobile) {
                overflow: hidden;
            }
        }
        
        .item {
            @include span(4);
            
            a {
                color: #fff;
                float: left;
                font: 400 1.333em/1.5em $lato;
                text-align: left;
                @include link-underline();
                
                &.item-img { margin: 0 0 10px; }
            }
            
            img {
                float: left;
                height: auto;
                width: 100%;
            }
            
            @include breakpoint(tablet mobile) {
                margin: 0 0 20px;
                
                a {
                    font: 400 1.133em/1.3em $lato;
                    &:hover, &:active, &:focus {
                        text-decoration: none;
                    }
                }
            }
            
            @include breakpoint(tablet) {
                @include span(6);
            }
            
            @include breakpoint(mobile) {
                padding: 0;
                width: 100%;
                
                img {
                    display: none;
                    
                    &.top-img {
                        display: block;
                    }
                }
            }
        }
    }
    
    #army-resources {
        .col-a {
            @include span(8);
        }
        
        .col-b {
            @include span(4);
        }
        
        div {
            text-align: left;
        }
        
        @include breakpoint(tablet mobile) {
            .col-a, .col-b {
                @include span(12);
            }
            .col-a { margin: 0 0 40px; }
        }
        
        h4 {
            margin: 0 0 25px;
            
            &::after {
                background-color: $gold3;
                content: '';
                display: block;
                height: 5px;
                margin: 14px 0;
                width: 60px;
            }
            
            &.last::after { display: none; }
        }
        
        ul {
            list-style: inside none;
            li {
                padding: 0 0 10px;
                
                @include old-ie() {
                    display: inline;
                    float: left;
                    width: 100%;
                }
                
                a {
                    line-height: 1.222;
                    @include link-underline();
                }
            }
        }
        
        p {
            @include span(12);
            margin: 30px 0 0;
            
            a { text-decoration: underline; }
        }
    }
    
    #share {
        padding: 20px 0;
        
        span {
            display: inline-block;
            float: left;
            margin: 0 15px 0 0;
        }
        
        .social {
            height: 24px;
            
            &.last { margin: 0; }
            
            a {
                display: inline-block;
                height: 100%;
                width: 100%;
            }
            
            &.twitter { width: 30px; } // 30 x 24
            &.pinterest { width: 24px; } // 24 x 24
            &.facebook { width: 12px; } // 12 x 24
            &.google { width: 36px; } // 36 x 24
            
            @include yep(svg) {
                svg {
                    path {
                        fill: $svg-fill;
                        @include transition(all .10s ease-in-out);
                    }
                    
                    &:hover {
                        path { fill: $svg-fill-hover; }
                    }
                }
            }
            
            @include nope(svg) {
                svg { display: none; }
                
                background-image: url($sprite-png);
                background-repeat: no-repeat;
                height: 25px;
                &.twitter {
                    background-position: 0 0;
                    &:hover { background-position: 0 -25px; }
                }
                &.pinterest {
                    background-position: -30px 0;
                    &:hover { background-position: -30px -25px; }
                }
                &.facebook {
                    background-position: -55px 0;
                    &:hover { background-position: -55px -25px; }
                }
                &.google {
                    background-position: -69px 0;
                    &:hover { background-position: -69px -25px; }
                }
            }
            
        } // end .social
    } // end #share
}




